@charset "utf-8";
HTML {
  font-size: 1em;
  margin: 0 0.2rem;
}
HTML body {
  width: 100%;
  font-size: 100%;
  display: block;
  min-height: 1rem;
  background: black;
  color: white;
  margin: 0;
}
*[style*="color:royalblue"] {
  color: #99afef !important;
}
*[style*="color:blue"] {
  color: #6666ff !important;
}
*[style*="color:darkblue"] {
  color: #3f3fff !important;
}
*[style*="color:indigo"] {
  color: #aa35ff !important;
}
*[style*="color:crimson"] {
  color: #ee4062 !important;
}
*[style*="color:red"] {
  color: #ff4242 !important;
}
*[style*="color:darkred"] {
  color: #ff2525 !important;
}
*[style*="color:deeppink"] {
  color: #ff61b6 !important;
}
*[style*="color:Black"],
*[style*="color:black"],
*[style*="color:#000000"],
*[style*="color:#000"] {
  color: #fff!important;
}
*[style*="background-color:white"] *[style*="color:black"],
*[style*="color:black"] *[style*="background-color:white"],
*[style*="background-color:white"] *[style*="color:#000000"],
*[style*="color:#000000"] *[style*="background-color:white"] {
  color: #000!important;
}
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
.post-block.close > .block-body {
  display: none;
}
.post-block.box > .block-body {
  overflow: auto;
}
@media screen and (orientation: landscape) {
  .post-block.spoil.open > .block-title:before {
    content: 'Спойлер (\2013) ( ';
  }
  .post-block.spoil.close > .block-title:before {
    content: 'Спойлер (+) ( ';
  }
  .post-block.spoil > .block-title:after {
    content: ' )';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: 'Спойлер (\2013)';
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: 'Спойлер (+)';
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код (';
  }
  .post-block.code > .block-title:after {
    content: ' )';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ( ';
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013) ( ';
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+)';
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст ( ';
  }
  .post-block.hidden > .block-title:after {
    content: ' )';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст';
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:before {
    content: 'Цитата ( ';
  }
  .post-block.quote > .block-title:after {
    content: ' )';
  }
  .post-block.quote > .block-title:empty:before {
    content: 'Цитата';
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
@media screen and (orientation: portrait) {
  .post-block.spoil.open > .block-title:before {
    content: '(\2013) ';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:before {
    content: '(+) ';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:after {
    content: '';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: '(\2013) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: '(+) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:after {
    content: '';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:empty:before {
    content: '"Цитата"';
    font-weight: bold;
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
.poll {
  position: relative;
  top: -0.7rem;
  display: block;
  margin-top: 0.5rem;
}
.poll .hidetop {
  display: block;
  padding: 0.3em;
  background: #1d2d3e;
  margin: 0.5em -0.6em 0;
  border-left: 0.2em #8895a5 solid;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  color: white;
  line-height: 1.4rem;
  margin: 0 !important;
}
.poll .hidemain {
  padding: 0;
  margin: 0 !important;
  overflow-x: auto;
}
.poll .hidemain form > .ipbtable {
  display: table-block;
  border-spacing: 0;
  width: 100%;
}
.poll .hidemain form > .ipbtable > tbody > tr {
  display: block;
}
.poll .hidemain form > .ipbtable > tbody > tr:first-child {
  display: none;
}
.poll .hidemain form > .ipbtable > tbody > tr td[align="center"] {
  display: block;
  padding: 0.4rem 0;
}
.poll .hidemain form > .ipbtable > tbody > tr .formbuttonrow {
  display: block;
  text-align: center;
}
.poll .hidemain form > .ipbtable > tbody > tr .formbuttonrow .button {
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
  margin: 0 !important;
  background: #222222;
}
.poll .hidemain form > .ipbtable > tbody > tr .formbuttonrow .button:hover {
  opacity: 0.5;
}
.poll .hidemain form > .ipbtable > tbody tr {
  padding: 0 !important;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 {
  display: block;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #666666;
  color: white !important;
  background: black;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .row1 {
  margin: 0 0 0.1rem;
  padding: 0.4rem 0.2rem !important;
  font-size: 1rem !important;
  color: #b3b3b3;
  background: #222222;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable {
  width: 100%;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td img {
  border: 0.1rem solid #57a;
  height: 0 !important;
  padding: 0.35rem 0;
  margin-top: -0.2em;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9bbdf0), color-stop(100%, #5577aa));
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td img:first-child,
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td img:last-child {
  display: none;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td .radiobutton ~ b {
  position: relative;
  top: 0.15rem;
}
.hidetop {
  display: block;
  padding: 0;
  background: #1d2d3e;
  margin-top: 2.3rem !important;
  border-left: 3px #8895a5 solid;
  color: white;
  text-align: center;
}
.post-block.spoil > .block-title {
  display: block;
  padding: 0.3em;
  background: #1d2d3e;
  margin: 0.5em -0.6em 0;
  border-left: 0.2em #8895a5 solid;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  color: white;
}
.post-block.spoil > .block-body {
  padding: 0.5em;
  margin: 0 -0.6em;
  border-left: 0.2em #8394b2 solid;
  border-right: 0;
  border-bottom: 1px #dee4ec solid;
}
.post-block.quote {
  display: block;
  padding: 0.2em 0.4em 0.4em 0.4em;
  margin: 1em 0.2em 1em 0;
  border-left: 0.2em solid #5588cc;
}
.post-block.quote > .block-title {
  display: block;
  margin-bottom: 0.5em;
  color: #999999;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;
}
.post-block.quote > .block-body {
  padding: 0;
  margin: 0;
  color: white;
}
.post-block.code > .block-title,
.sqltop,
.htmltop {
  color: #999999;
  font-weight: bold;
  margin: 0.5em auto 0;
  padding: 0.3em 0;
}
.post-block.code > .block-body,
.sqlmain,
.htmlmain {
  border: 1px dotted #b2b2b2;
  color: #66ff66;
  margin: 0 auto 0.4em;
  padding: 0.3em;
}
.post-block.hidden > .block-title {
  color: #999999;
  font-weight: bold;
  margin: 0.5em auto 0;
  padding: 0.3em 0;
}
.post-block.hidden > .block-body {
  border: 1px dotted #858585;
  color: white;
  margin: 0 auto 0.4em;
  padding: 0.3em;
}
/***ADM***/
.cur {
  background: #00943b;
}
.mod {
  background: #6060ff;
}
.ex {
  background: #ff6060;
}
.cur,
.mod,
.ex {
  margin: 0.8em  0;
  border: 1px solid #333333;
  display: table;
  width: 100%;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-weight: bold;
  width: 4.5rem;
  text-align: center;
  height: 100%;
  padding: 0.5em 0;
  font-size: 3.5rem;
  font-family: Times New Roman, Serif;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 1em;
  background: black;
  height: 100%;
  margin: 0;
}
/*** navi ***/
.navi {
  margin-top: 3px;
  max-width: 100%;
  text-align: center;
  background: black;
  /*border-top: 2px ridge #222;
border-bottom: 2px groove #222;*/
}
.first,
.prev,
.page,
.next,
.last {
  display: inline-block;
  float: center;
  text-align: center;
}
.first,
.prev,
.next,
.last {
  width: 15%;
}
.page {
  width: 26%;
}
.prev {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
.next {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
/*
*	*~ QMS ~*
*/
#thread_form {
  margin: -1.4rem -0.2rem 0;
  padding: 1.5rem 0 3rem;
  background: #141414;
}
#thread_form .date {
  /*font-size: 1rem;*/
  text-align: center;
  margin: 0 0.5rem 1.5rem;
  border-bottom: 1px dashed #333333;
}
#thread_form .date .text {
  position: relative;
  top: 1.4rem;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  line-height: 1.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #4d4d4d;
  text-align: center;
  background: #141414;
}
#thread_form .list-group-item {
  display: block;
  margin: 0 0.3rem;
  padding: 0.2rem;
  padding-bottom: 1rem !important;
}
#thread_form .list-group-item.our-message {
  color: #808080 !important;
}
#thread_form .list-group-item .check-item {
  margin-top: -0.4rem;
  display: block;
  text-align: right;
  line-height: 1.5;
  float: right;
}
#thread_form .list-group-item .time {
  position: relative;
  float: right;
  font-size: 0.85rem;
  color: #999999;
  margin-right: 0.4rem;
}
#thread_form .list-group-item .time .read-status.unread.big-dot {
  position: relative;
  top: -0.1rem;
  display: inline-block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 0.6rem;
  background: #5c0000;
}
#thread_form .list-group-item .avatar-wrap {
  margin-top: 1.2rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.15rem;
  float: left;
  border-radius: 0.2rem;
  border: 1px solid #666666;
  background: black;
}
#thread_form .list-group-item .avatar-wrap .avatar {
  width: 5rem;
}
#thread_form .list-group-item .avatar-wrap:before {
  content: '◀';
  position: absolute;
  font-size: 1.4rem;
  left: 5.7rem;
  color: black;
  text-shadow: -1px 0 1px #999999;
}
#thread_form .list-group-item strong {
  position: absolute;
  display: block;
  line-height: 0.8rem;
  font-size: 1.1rem;
  margin: 0 0 0.5rem 0.3rem;
}
#thread_form .msg-content {
  border-radius: 0.3rem;
  min-height: 4.8rem;
  margin: 0 0.2rem 0 6.5rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #666666;
  background: black;
}
#thread_form .list-group-item.our-message .check-item {
  text-align: left;
  float: left;
}
#thread_form .list-group-item.our-message .time {
  float: left;
  margin-left: 0.4rem;
}
#thread_form .list-group-item.our-message .avatar-wrap {
  float: right;
}
#thread_form .list-group-item.our-message .avatar-wrap:after {
  content: '▶';
  position: absolute;
  font-size: 1.4rem;
  right: 5.6rem;
  color: black;
  text-shadow: 1px 0 1px #999999;
}
#thread_form .list-group-item.our-message .avatar-wrap:before {
  display: none;
}
#thread_form .list-group-item.our-message strong {
  right: 0.5rem;
  margin: 0 0 0.5rem 0.3rem;
}
#thread_form .list-group-item.our-message .msg-content {
  margin: 0 6.5rem 0 0.2rem !important;
}
#thread_form .list-group-item.our-message .msg-content:before {
  display: none;
}
#thread_form .list-group-item + .list-group-item,
#thread_form .list-group-item.our-message + .list-group-item.our-message {
  margin-top: -0.8rem !important;
  margin-bottom: 0 !important;
}
#thread_form .list-group-item + .list-group-item strong,
#thread_form .list-group-item.our-message + .list-group-item.our-message strong,
#thread_form .list-group-item + .list-group-item .avatar-wrap,
#thread_form .list-group-item.our-message + .list-group-item.our-message .avatar-wrap {
  display: none;
}
#thread_form .list-group-item + .list-group-item.our-message,
#thread_form .list-group-item.our-message + .list-group-item {
  position: relative;
  margin-top: 1.5rem !important;
}
#thread_form .list-group-item + .list-group-item.our-message strong,
#thread_form .list-group-item.our-message + .list-group-item strong,
#thread_form .list-group-item + .list-group-item.our-message .avatar-wrap,
#thread_form .list-group-item.our-message + .list-group-item .avatar-wrap {
  display: block;
}
#thread_form .list-group-item + .list-group-item.our-message strong:before,
#thread_form .list-group-item.our-message + .list-group-item strong:before,
#thread_form .list-group-item + .list-group-item.our-message .avatar-wrap:before,
#thread_form .list-group-item.our-message + .list-group-item .avatar-wrap:before {
  left: 5.5rem;
}
#thread_form .list-group-item + .list-group-item.our-message strong:after,
#thread_form .list-group-item.our-message + .list-group-item strong:after,
#thread_form .list-group-item + .list-group-item.our-message .avatar-wrap:after,
#thread_form .list-group-item.our-message + .list-group-item .avatar-wrap:after {
  right: 5.4rem;
}
/*** END QMS ***/
table {
  font-size: inherit;
}
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: middle;
}
a {
  color: #7799dd;
  line-height: 1.7;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] {
  position:  relative;
  display: inline-block;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] > img {
  position: absolute;
  opacity: 0;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  content: '«';
  text-decoration: none;
  font-weight: bold;
  font-size: 1.45em;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  margin: -0.2em -0.3em;
  color: #58c;
}
.post-block .block-title a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  margin-right: -0.2em !important;
}
ul,
ol {
  margin-left: -1em;
}
.spoiler_button {
  position: relative;
  z-index: 99;
  float: right;
  width: 100%;
  display: block;
  margin-top: -2.7em;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  background: none;
  border: 0;
  color: white;
  text-transform: lowercase;
  text-align: right;
}
img {
  max-width: 100%!important;
  height: auto!important;
}
.sp_img {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.3em;
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  background: #191919;
}
/* 
 *	TABLET VIEW
*/
.post_header {
  display: block;
  float: left;
  width: 13.9rem;
  min-height: 9.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0.1rem 0 0;
  background: black;
}
.post_header table {
  margin: 0;
}
.post_header img {
  min-height: 0.8em;
  vertical-align: middle;
}
.post_user_info {
  color: transparent;
}
.post_user_info span {
  display: inline-block;
  line-height: 1.8;
  margin-left: -3.5em;
}
.post_user_info font {
  display: block;
}
.post_user_info strong {
  display: inline-block;
  color: #090;
  margin-top: 0.4em;
  line-height: 1;
}
.post_user_info a {
  color: #b2b2b2;
}
.post_nick_cli,
.post_nick_online_cli {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  padding-top: 0.1rem;
  margin: -0.35rem 0.1rem 0 -0.2rem;
  text-align: center;
  width: 13.95rem;
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  border-right: 1px solid #595959;
  background: #222222;
  z-index: 98;
}
.post_nick_cli a,
.post_nick_online_cli a {
  display: block;
  font-size: 1.1em;
  width: 100%;
  font-weight: bold;
  text-decoration: underline;
  color: #e6e6e6 !important;
}
.post_nick_cli a:hover,
.post_nick_online_cli a:hover {
  opacity: 0.5;
  text-decoration: none;
}
.post_nick_cli:after,
.post_nick_online_cli:after {
  position: absolute;
  width: 13.9rem;
  display: block;
  text-align: center;
  text-decoration: none !important;
  margin: 0.6rem 0 0;
}
.post_nick_online_cli:after {
  content: 'online';
  color: #4dff4d !important;
}
.post_nick_cli:after {
  content: 'offline';
  color: #e74d4d !important;
}
.post_nick {
  position: relative;
  display: block;
  line-height: 2rem;
  height: 2rem;
  padding: 0.1rem 0.8rem 0;
  margin: -1.45rem -0.15rem -1.2rem 0;
  text-align: center;
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  border-right: 1px solid #595959;
  background: #222222;
  z-index: 98;
}
.post_nick a {
  font-size: 1.1rem !important;
  font-weight: bold;
  color: #e6e6e6;
}
.post_nick a:hover {
  opacity: 0.5;
}
.post_header > SPAN.post_action > A {
  text-decoration: none;
  font-weight: bold;
}
.user_group {
  display: block;
  color: #b3b3b3;
  width: 13.9rem;
  font-size: 85%;
  margin: 1.8rem 0 0;
  line-heiht: 0.6;
  text-align: center;
}
.post_header .system_link[onclick*="window.HTMLOUT.showRepMenu"] {
  display: block;
  margin: 0;
  text-align: center;
  width: 100%;
  text-decoration: underline;
  color: #d9d9d9;
}
.post_header .system_link[onclick*="window.HTMLOUT.showRepMenu"]:hover {
  opacity: 0.5;
  text-decoration: none;
}
.post_header > TABLE > TBODY > TR > TD > DIV > SPAN.post_date_cli,
.post_header_container > DIV.post_header > SPAN.post_date {
  position: absolute;
  right: 0.2rem;
  display: inline-block;
  text-align: left;
  color: #b2b2b2;
  line-height: 2rem;
  height: 2rem;
  padding: 0.1rem 0.8rem 0;
  margin-top: -1.25rem !important;
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  background: #222222;
  left: 14rem;
}
.post_header > TABLE > TBODY > TR > TD > DIV > SPAN.post_date_cli a,
.post_header_container > DIV.post_header > SPAN.post_date a {
  display: inline-block;
  margin-top: 0.15rem;
  font-size: 1em;
  color: white !important;
  float: right;
}
.post_header > TABLE > TBODY > TR > TD > DIV > SPAN.post_date_cli a {
  margin-left: 0.4rem;
  text-decoration: underline;
}
.post_header > TABLE > TBODY > TR > TD > DIV > SPAN.post_date_cli a:hover {
  opacity: 0.5;
  text-decoration: none;
}
.post_header_container > DIV.post_header > SPAN.post_date {
  margin-top: -0.25rem !important;
  text-align: right;
  line-height: 1;
}
.post_header_container > DIV.post_header > SPAN.post_date a {
  text-decoration: underline;
}
.avatar_container {
  position: relative;
  margin: 1rem 0 -0.6rem;
  display: block;
  vertical-align: middle;
  text-align: center;
  top: 1rem;
  width: 13.9rem;
  overflow: hidden;
  border-radius: 0.3em;
}
.avatar_container IMG {
  display: inline-block;
  margin: 0 auto;
  max-width: 6rem !important;
  max-height: 6rem !important;
}
.post_header .system_link[onclick*="showPostMenu"] {
  position: absolute;
  display: block;
  left: 0;
  margin-top: 1.2em !important;
  margin: 1.2em 5.5em;
  display: inline-block;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  text-align: center;
  color: #cccccc !important;
  font-weight: normal;
  background: #222222;
}
.post_header .system_link[onclick*="showPostMenu"]:hover {
  opacity: 0.5;
}
.hidetop {
  position: relative;
  display: block;
  margin-left: 13.9em !important;
  text-align: center;
  line-height: 14rem;
  margin: 0.2rem 0;
}
.hidetop b {
  font-size: 1.4em;
}
.hidemain {
  border: none! important;
  padding: 0 !important;
  margin-top: -2.1rem !important;
}
.post_body {
  display: block;
  padding: 3rem 0.6rem 1rem !important;
  border-left: 13.95rem solid black;
  word-wrap: break-word;
  background: black;
  text-align: left;
  min-height: 14rem;
  margin: 0;
  -webkit-box-shadow: inset 1px 0 1px #666666;
}
DIV > DIV.post_body {
  padding-top: 1rem;
}
.post_body ~ a {
  position: relative;
  z-index: 99;
  display: block;
  background: #5588cc;
  padding: 0.25rem 0 0 0;
  margin-bottom: -0.1rem;
}
.between_messages {
  position: relative;
  background: #5588cc;
  padding: 0.3rem 0 0 0;
  margin: 0.1em 0 0;
}
/* 
 *	END TABLET VIEW
*/
.post_body font {
  font-size: 0.95rem!important;
  color: #a7a7a7;
}
.signature {
  font-size: 1rem;
  position: relative;
  padding: 1em 0.5em 2em;
  clear: both;
  word-wrap: break-word;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
}
.signature {
  background: #222222 !important;
}
.signature:before {
  content: 'подпись';
  display: block;
  margin-top: -0.9em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #808080;
  font-size: 0.8em;
  border-bottom: 1px solid #4d4d4d;
}
.post_header a img {
  margin-bottom: 0;
}
.s_post_footer {
  position: relative;
  clear: both;
  padding: 0 0.3rem;
  margin-top: -0.1rem;
  background: #222222;
  text-align: center;
  color: white;
}
.s_post_footer td {
  position: relative;
  top: -0.15rem;
  padding: 0.2em 0.3em;
  border-top: 1px solid #595959;
}
.post_footer {
  display: table-block;
  min-height: 1.6em;
  text-align: center;
  position: relative;
  padding: 0.3em 0.6em;
  clear: both;
  margin-top: -0.1rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #595959;
  background: #222222;
}
.post_footer:before {
  content: '';
  position: absolute;
  padding: 1rem 0;
  height: 0.4rem;
  margin-top: -0.3rem;
  left: 13.95rem;
  border-right: 1px solid #595959;
  padding: 0.9em 0;
}
.post_footer a {
  display: table-block;
  text-decoration: none;
}
.post_footer span {
  display: table-block;
}
.post_footer .send_claim_button {
  display: block;
  float: left;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
}
.post_footer .send_claim_button:hover {
  opacity: 0.5;
}
.post_footer .send_claim_button:before {
  content: 'жалоба';
}
.post_footer .insert_nick_button {
  display: block;
  float: left;
  margin-left: 0.7em;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
}
.post_footer .insert_nick_button:hover {
  opacity: 0.5;
}
.post_footer .insert_nick_button:before {
  content: 'имя';
}
.post_footer .quote_button {
  display: block;
  float: left;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
  margin-left: 0.7em;
}
.post_footer .quote_button:hover {
  opacity: 0.5;
}
.post_footer .quote_button:before {
  content: 'цитата';
}
.post_footer .post_vote_bad {
  display: inline-block;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  margin-right: 0.2em;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
}
.post_footer .post_vote_bad:hover {
  opacity: 0.5;
}
.post_footer .post_vote_bad:after {
  content: 'плохо';
  margin-right: 0.5em;
}
.post_footer .post_vote_bad:before {
  position: relative;
  top: 0.1em;
  font-weight: bold;
  content: "➜";
  -webkit-transform: rotate(90deg);
  float: left;
  margin-right: 0.5em;
  font-size: 1em;
  color: #fd6767;
}
.post_footer .post_vote_good {
  display: inline-block;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
  margin-left: 0.2em;
}
.post_footer .post_vote_good:hover {
  opacity: 0.5;
}
.post_footer .post_vote_good:before {
  content: 'хорошо';
  margin-left: 0.15em;
}
.post_footer .post_vote_good:after {
  position: relative;
  top: 0.1em;
  content: "➜";
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
  margin-left: 0.15em;
  float: right;
  font-size: 1em;
  color: #31ab31;
}
.post_footer .delete_post_button {
  display: block;
  float: right;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
}
.post_footer .delete_post_button:hover {
  opacity: 0.5;
}
.post_footer .delete_post_button:before {
  content: 'удалить';
}
.post_footer .edit_post_button {
  display: block;
  float: right;
  margin-left: 0.7em;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #737373;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
}
.post_footer .edit_post_button:hover {
  opacity: 0.5;
}
.post_footer .edit_post_button:after {
  content: 'редактировать';
}
/*.post_footer_style table{
text-align:center;
font-size: 0.95rem;
color: #777;
}*/
.signature {
  font-size: 0.95rem;
  color: #999;
}
.searchlite {
  color: #ee6050;
}
.href_button {
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-transform: lowercase;
  color: #7799dd;
  text-decoration: none;
  text-align: center;
  padding: 0.4em 0;
}
.href_button_disable {
  color: #4d4d4d;
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0.4em 0;
}
#viewers + br {
  display: none;
}
#viewers,
#writers {
  float: left;
  display: block;
  width: 50%;
  font-size: 1em;
  margin-top: -0.5em;
}
#viewers {
  margin-left: -0.2rem;
}
#writers {
  margin-right: -0.2rem;
}
.topic_title_post {
  margin: 0;
  padding: 2em;
  text-align: center;
}
.topic_title_post a {
  color: #7799dd;
  text-decoration: none!important;
  line-height: 1.2;
}
.quotetop img {
  margin-top: auto;
  margin-bottom: auto;
}
.post_body > DIV > STRONG > SPAN.edit {
  position: relative;
  display: block;
  line-height: 1.4;
  margin-top: -0.4rem;
  margin-left: 6rem;
  width: 11rem;
}
.edit {
  font-size: 0.9rem;
  color: #9c9c9c;
}
edit b {
  font-size: 0.95rem;
}
.edit * {
  font-size: 0.9rem;
  color: #9c9c9c;
}
.post-edit-reason {
  font-size: 0.9rem;
  color: #9c9c9c;
}
/*news*/
.container {
  margin: 0;
  display: block;
  margin: 0.3em;
  background: black;
  border: 1px solid #646464;
  padding: 0.3em;
  color: white;
}
.container .content {
  display: block;
  padding: 0.5em;
}
.container .content .content-box {
  margin: 0;
}
.container .content .content-box meta + p {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #bdbdbd;
  padding: 0.8rem 0.6rem;
  background: #0d0d0d;
}
.product-detail {
  border: 1px solid #7a7a7a;
  background: #222222;
}
.product-detail .photo {
  display: table-cell;
  text-align: center;
  width: 40%;
}
.product-detail .photo img {
  display: block;
  width: 100%;
}
.product-detail .photo label {
  display: block;
  text-align: center;
  padding: 0.5em;
  color: #7799dd;
}
.product-detail .description {
  display: table-cell;
  width: 60%;
  vertical-align: middle;
}
.product-detail .description h1 {
  text-align: center;
  font-size: 1.5em;
  color: #bdbdbd;
}
.product-detail .description .info-holder {
  display: block;
  text-align: center;
}
.product-detail .description .more-box {
  position: relative;
  text-align: center;
}
BLOCKQUOTE {
  border-left: 0.3em solid #4874ad;
  padding: 0 0 0 0.8rem;
  margin-left: 0.4rem;
}
BLOCKQUOTE H3 {
  text-align: left;
  color: #cccccc;
}
.review-bottom-informer {
  padding: 0 0.3em;
  background: black;
}
.review-bottom-informer .item {
  text-align: center;
  display: block;
  border: 1px solid #4d4d4d;
  margin: 0.3em 0;
  box-sizing: border-box;
  padding: 0.35em;
  background: #191919;
}
.review-bottom-informer .item .title {
  display: block;
  text-align: center;
  font-size: 2em;
}
.review-bottom-informer .item .desc br {
  display: none;
}
h3 {
  text-align: center;
}
h3 a {
  text-decoration: none;
  font-size: 1.4em;
  color: #bdbdbd;
}
.mlinks {
  display: block;
  border: 1px solid #4d4d4d;
  overflow: hidden;
}
.mlinks.desc {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid #4d4d4d;
  overflow: hidden;
}
.mlinks.desc .mlhead {
  min-height: 4.6rem;
}
.mlinks.desc .mlright {
  border-radius: 0.3rem;
  background: #0d0d0d;
}
.mlinks.desc .mlright .do-vam div {
  display: block;
}
.mlinks.desc .mlright .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks.desc .mlright .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #333333;
  background: black;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #b3b3b3;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #262626;
  border-right: 1px solid #262626;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks.desc .mlscreenshots.mlbody .do-vam {
  border-top: none;
}
.mlinks .mlhead {
  border-radius: 0.3rem;
  background: #0d0d0d;
}
.mlinks .mlhead .do-vam div {
  display: block;
}
.mlinks .mlhead .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks .mlhead .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #333333;
  background: black;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #b3b3b3;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #262626;
  border-right: 1px solid #262626;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks .mlscreenshots.mlbody {
  display: block;
  padding: 0.5rem;
}
.mlinks .screenshots {
  overflow-x: auto;
}
.mlinks .screenshots .sc-btn.left,
.mlinks .screenshots .sc-btn.right {
  display: block ;
  height: 0.3rem;
  color: transparent;
}
.mlinks .screenshots .sc-content {
  list-style: none;
  white-space: nowrap;
  padding: 0 2.6rem;
}
.mlinks .screenshots .sc-content:before {
  content: '◀';
  font-size: 1.5rem;
  position: absolute;
  margin-left: -2.3rem;
  display: block;
  display: inline-block;
  background: #5588cc;
  opacity: 0.7;
  height: 15rem;
  line-height: 15rem;
  text-align: center;
  width: 2rem;
  color: black;
}
.mlinks .screenshots .sc-content a {
  display: inline;
  padding: 0.1rem;
  padding-right: 0.3rem;
  white-space: nowrap;
  zoom: 1;
}
.mlinks .screenshots .sc-content a img {
  display: inline-block;
  height: 15rem !important;
}
@font-face {
  font-family: 'fontello';
  src: url('material_src/fontello.eot?19600742');
  src: url('material_src/fontello.eot?19600742#iefix') format('embedded-opentype'), url('material_src/fontello.woff?19600742') format('woff'), url('material_src/fontello.ttf?19600742') format('truetype'), url('material_src/fontello.svg?19600742#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('forum/fonts/fontello/fontello.eot?66808348');
  src: url('forum/fonts/fontello/fontello.eot?66808348#iefix') format('embedded-opentype'), url('forum/fonts/fontello/fontello.woff?66808348') format('woff'), url('forum/fonts/fontello/fontello.ttf?66808348') format('truetype'), url('forum/fonts/fontello/fontello.svg?66808348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fontello;
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot");
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot") format('embedded-opentype'), url("file:///android_asset/forum/fonts/fontello/fontello.woff") format('woff'), url("file:///android_asset/forum/fonts/fontello/fontello.ttf") format('truetype'), url("file:///android_asset/forum/fonts/fontello/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
.icon-hash:before {
  content: '\23';
}
/* '#' */
.icon-karma-up:before {
  content: '\2b';
}
/* '+' */
.icon-hide-comment:before {
  content: '\2d';
}
/* '-' */
.icon-4PDA-plain:before {
  content: '\34';
}
/* '4' */
.icon-android:before {
  content: '\41';
}
/* 'A' */
.icon-comment-baloons:before {
  content: '\43';
}
/* 'C' */
.icon-engines:before {
  content: '\44';
}
/* 'D' */
.icon-pencil:before {
  content: '\45';
}
/* 'E' */
.icon-FB:before {
  content: '\46';
}
/* 'F' */
.icon-home:before {
  content: '\48';
}
/* 'H' */
.icon-apple:before {
  content: '\49';
}
/* 'I' */
.icon-rss:before {
  content: '\52';
}
/* 'R' */
.icon-search:before {
  content: '\53';
}
/* 'S' */
.icon-TWITTER:before {
  content: '\54';
}
/* 'T' */
.icon-VK:before {
  content: '\56';
}
/* 'V' */
.icon-windows:before {
  content: '\57';
}
/* 'W' */
.icon-close:hover:before {
  content: '\58';
}
/* 'X' */
.icon-YOUTUBE:before {
  content: '\59';
}
/* 'Y' */
.icon-up-open:before {
  content: '\5e';
}
/* '^' */
.icon-users:before {
  content: '\75';
}
/* 'u' */
.icon-link:before {
  content: '\bb';
}
/* '»' */
.icon-down-dir-1:before {
  content: '\1d65';
}
/* 'ᵥ' */
.icon-up-dir-1:before {
  content: '\1dba';
}
/* 'ᶺ' */
.icon-karma-down:before {
  content: '\2013';
}
/* '–' */
.icon-left-small:before {
  content: '\2039';
}
/* '‹' */
.icon-right-small:before {
  content: '\203a';
}
/* '›' */
.icon-4pda-logo:before {
  content: '\2163';
}
/* 'Ⅳ' */
.icon-up:before {
  content: '\2191';
}
/* '↑' */
.icon-down:before {
  content: '\2193';
}
/* '↓' */
.icon-back-up:before {
  content: '\21b5';
}
/* '↵' */
.icon-up-small:before {
  content: '\21d1';
}
/* '⇑' */
.icon-login:before {
  content: '\23ce';
}
/* '⏎' */
.icon-profile:before {
  content: '\263a';
}
/* '✓' */
/* '✔' */
.icon-glyph:before {
  content: '\272a';
}
/* '✪' */
.icon-cog:before {
  content: '\2731';
}
/* '✱' */
.icon-del:before {
  content: '\274e';
}
/* '❎' */
.icon-warning-empty:before {
  content: '\2755';
}
/* '❕' */
.icon-attention:before {
  content: '\2757';
}
/* '❗' */
.icon-chart-bar:before {
  content: '\2758';
}
/* '❘' */
.icon-chart-bar-1:before {
  content: '\2759';
}
/* '❙' */
.icon-glyph-1:before {
  content: '\275a';
}
/* '❚' */
.icon-quote-left:before {
  content: '\275d';
}
/* '❝' */
.icon-heart-1:before {
  content: '\2764';
}
/* '❤' */
.icon-heart:before {
  content: '\2765';
}
/* '❥' */
.icon-close:before {
  content: '\2a09';
}
/* '⨉' */
.icon-mlinks-home:before {
  content: '\e081';
}
/* '' */
.icon-edit:before {
  content: '\e80b';
}
/* '' */
.icon-users-1:before {
  content: '👥';
}
/* '\1f465' */
.icon-emo-happy:before {
  content: '😌';
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #7799dd;
}
.table4site {
  display: block;
  overflow-x: auto;
  border: 1px solid #4d4d4d;
  box-sizing: border-box;
  background: black;
  border-spacing: 0;
}
.table4site tbody {
  width: 100%;
}
.table4site tbody TR {
  margin: 0;
}
.table4site tbody TR:nth-child(2n) {
  background: #202020;
}
.table4site tbody TR:last-child {
  border-bottom: none;
}
.table4site tbody TR:last-child td {
  border-bottom: none;
}
.table4site tbody TR .links p {
  text-align: center;
  border-bottom: 1px solid #262626;
}
.table4site tbody TR .links p:last-child {
  border: none;
}
.table4site tbody TR .links p strong {
  diasplay: block;
}
.table4site tbody TR TD {
  margin: -0.2rem !important;
  box-sizing: border-box;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;
}
.table4site tbody TR TD:last-child {
  border-right: none;
}
.table4site tbody TR TD IMG {
  display: block;
  width: 4rem;
  margin: 0 auto;
}
.table4site tbody TR TD P {
  display: block;
  padding: 0.4rem;
}
.materials-box {
  margin: 0;
}
.materials-box .box-title {
  display: block;
  margin: 0.5em 0.2em;
  padding: 0.2em 0;
  text-align: center;
  color: #bdbdbd;
  border-top: 1px solid #383838;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(10%, #191919), color-stop(90%, #191919), color-stop(100%, black));
}
.materials-box .materials-slider {
  display: table-block;
  padding: 0;
  margin: 0;
  border-spacing: 0.7rem;
  overflow-x: auto;
}
.materials-box .materials-slider .slider-item {
  position: relative;
  display: table-cell;
  width: 25%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .materials-box .materials-slider .slider-item {
    width: 1px;
  }
  .materials-box .materials-slider .slider-item > a {
    width: 10rem;
  }
}
.materials-box .materials-slider .slider-item > a {
  display: block;
}
.materials-box .materials-slider .slider-item > a img {
  width: 100%;
  height: 75%;
}
.materials-box .materials-slider .slider-item h3 {
  display: block;
  margin: 0;
  padding: 0.3rem;
  vertical-align: middle;
}
.materials-box .materials-slider .slider-item h3 a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8rem;
  font-weight: normal;
  color: white;
}
.page-nav.box {
  margin: 1rem 0.2rem 0;
  padding: 0;
  text-align: center;
}
.page-nav.box li {
  display: inline-block;
  width: 48%;
  margin: 0;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  color: #a7a7a7;
}
.page-nav.box li a {
  text-decoration: none;
}
.comment-box h2 {
  margin: 0.5em 0.2em;
  text-align: center;
  padding: 0.2em 0;
  color: #bdbdbd;
  border-top: 1px solid #383838;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(10%, #191919), color-stop(90%, #191919), color-stop(100%, black));
}
#comments {
  font-size: 1rem;
  display: block;
  padding: 0.7em 0;
  position: relative;
  margin: 0.2em 1px 0.2em 0;
  font-weight: normal;
  color: white;
  text-align: left;
}
#comments li,
#comments ul {
  list-style-type: none;
  padding: 0;
  margin: 0.8em 0.15em 0.4em 0.15em;
}
.comment-box li {
  border: 1px solid #646464;
  text-align: left;
  margin: 1em 0 0 0;
  word-wrap: break-word;
  background: black;
  -webkit-box-shadow: 1px 2px 6px #000000;
}
#comments li .heading {
  position: relative;
  display: block;
  margin: -1px 0 0 0;
  border-top: 0.2em solid #58c;
  border-bottom: 1px solid #646464;
  background: #222222;
  text-shadow: 0 0 0.2em black;
  padding: 0.2em 0;
}
.nickname {
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5em;
  color: #58c !important;
  line-height: 1.4;
}
.h-meta {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: #bdbdbd;
  float: right;
  margin-top: -0.2rem;
  margin-right: 0.2em;
  line-height: 1.4;
}
.h-meta a {
  width: 100%;
  height: 100%;
  margin-right: 0.2em;
}
#comments li p {
  padding: 0.6rem 0.4rem;
  margin: 0 0.2em;
}
#comments a:nth-child(2) {
  position: relative;
  display: block;
  text-align: center;
  top: -0.5em;
}
#comments p ~ div {
  display: block;
  text-align: right;
  border-top: 1px solid #383838;
  margin: 0.5em 0.5em 0;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  border-radius: 0.15rem;
  background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.15rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.5);
}
