@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Italic.ttf');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.ttf');
	font-style: normal;
	font-weight: bold;
}
