.video-thumb-wrapper { display: block; width: 480; height: 320;
                       background: url('file:///android_asset/forum/style_images/play_video.png') center center no-repeat; }
.video-thumb { filter: alpha(opacity = 40); opacity: .4; }