/*
 *	HD style
*/
/*
 *	DARK-COLORS
*/
[style*="color:royalblue"] {
  color: #ced8f7 !important;
}
*[style*="color:blue"] {
  color: #6666ff !important;
}
*[style*="color:darkblue"] {
  color: #3f3fff !important;
}
*[style*="color:indigo"] {
  color: #aa35ff !important;
}
*[style*="color:crimson"] {
  color: #ee4062 !important;
}
*[style*="color:red"] {
  color: #ff4242 !important;
}
*[style*="color:darkred"] {
  color: #ff2525 !important;
}
*[style*="color:deeppink"] {
  color: #ff61b6 !important;
}
*[style*="color:black"],
*[style*="color:#000000"],
*[style*="color:#000"] {
  color: #fff!important;
}
*[style*="background-color:white"] *[style*="color:black"],
*[style*="color:black"] *[style*="background-color:white"],
*[style*="background-color:white"] *[style*="color:#000000"],
*[style*="color:#000000"] *[style*="background-color:white"] {
  color: #000!important;
}
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
.post-block.close > .block-body {
  display: none;
}
.post-block.box > .block-body {
  overflow: auto;
}
@media all and (orientation: landscape) {
  .post-block.spoil.open > .block-title:before {
    content: 'Спойлер (\2013) ( ';
  }
  .post-block.spoil.close > .block-title:before {
    content: 'Спойлер (+) ( ';
  }
  .post-block.spoil > .block-title:after {
    content: ' )';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: 'Спойлер (\2013)';
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: 'Спойлер (+)';
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код (';
  }
  .post-block.code > .block-title:after {
    content: ' )';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ( ';
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013) ( ';
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+)';
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст ( ';
  }
  .post-block.hidden > .block-title:after {
    content: ' )';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст';
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:before {
    content: 'Цитата ( ';
  }
  .post-block.quote > .block-title:after {
    content: ' )';
  }
  .post-block.quote > .block-title:empty:before {
    content: 'Цитата';
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
@media all and (orientation: portrait) {
  .post-block.spoil.open > .block-title:before {
    content: '(\2013) ';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:before {
    content: '(+) ';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:after {
    content: '';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: '(\2013) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: '(+) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:after {
    content: '';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:empty:before {
    content: '"Цитата"';
    font-weight: bold;
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
HTML {
  font-size: 1em;
}
body {
  display: block;
  background: #181818;
  color: #ffffff;
  word-wrap: break-word;
  font-size: 100%;
  margin: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
/*
 *	NAVI
*/
.navi {
  /*font-size: 1em;*/
  margin: auto;
  max-width: 40em;
  text-align: center;
  margin-top: 2em;
  padding: 0.4em 4em 0.4em 4em;
}
.actions {
  float: right;
}
.first,
.prev,
.page,
.next,
.last {
  text-align: center;
  margin: 0 0.2em 0 0.2em;
  border-radius: 0.4em;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  box-shadow: 0 -0.2em 0.4em #3a3a3a, 0.2em 0 0.4em #070707, 0 0.2em 0.4em #000000, -0.2em 0 0.4em #292929;
}
.first,
.prev,
.next,
.last {
  display: inline-block;
  width: 15%;
}
.page {
  display: inline-block;
  width: 30%;
}
/*** QMS ***/
.check-item {
  margin-top: -0.4em;
  display: block;
  text-align: right;
  line-height: 1.5;
  float: right;
}
#thread-inside-top ~ .date {
  /*font-size: 1rem;*/
  margin-right: 0.4em;
  text-align: center;
  margin-bottom: 1em;
}
.date .text {
  position: relative;
  top: 0.7em;
  display: block;
  margin: 1em;
  padding: 0.5em 1em;
  font-weight: bold;
  color: #a6a6a6;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #181818), color-stop(10%, #3d3d3d), color-stop(90%, #3d3d3d), color-stop(100%, #181818));
}
.read-status.unread.big-dot {
  position: relative;
  top: -0.1em;
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  border-radius: 0.6em;
  background: #690d0d;
  -webkit-box-shadow: 0.1em 0.1em 0.2em #000000, inset 0.1em 0.1em 0.2em #a66969, inset -0.1em -0.1em 0.2em #990000;
}
.avatar-wrap {
  margin-top: 1.2em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0.15em;
  float: left;
  border-radius: 0.2em;
  border: 1px solid #797979;
  background: #efefef;
  -webkit-box-shadow: 0.1em 0.3em 0.4em #000000;
}
.avatar-wrap > .avatar {
  max-height: 6em;
  width: 6em;
}
label ~ .time {
  position: relative;
  float: right;
  font-size: 0.85em;
  color: #a6a6a6;
  margin-tight: 0;
  margin-top: -0.1em;
}
strong {
  line-height: 0.8em;
  width: 1em;
  position: absolute;
  font-size: 1.1em;
  margin-bottom: 0.4em;
  margin-left: -5.4em;
}
.list-group-item {
  display: block;
  margin: 1.5em 0.3em;
  padding: 0.2em;
  padding-bottom: 1em !important;
  /*border-top:  1px solid #555;
background: #202020;
-webkit-box-shadow: 1px 0.4em 0.8em #000;*/
}
.avatar-wrap:before,
.avatar-wrap:after {
  position: absolute;
  content: '';
  left: 6.5rem;
  border: 12px solid transparent;
  border-right: 12px solid #797979 !important;
}
.avatar-wrap:after {
  left: 6.6rem;
  border-right: 12px solid #252525 !important;
}
/*.list-group-item.our-message > 
.avatar-wrap:after{
border-right: 12px solid mix(@color, @bg-color-post-body, 5%) !important;
}*/
.msg-content {
  border-radius: 0.3em;
  min-height: 5em;
  margin: 0.3em 0.2em 0 7.5em;
  padding: 0.4em 0.6em;
  border: 1px solid #797979;
  color: #ffffff;
  background: #252525;
  -webkit-box-shadow: 0.1em 0.3em 0.4em #000000;
}
.list-group-item.our-message > .msg-content {
  /*background: mix(@color, @bg-color-post-body, 5%);*/
  color: #a6a6a6;
}
#bottom_element {
  margin: 2em 0em;
  text-align: center;
  background: #181818;
}
#bottom_element:before {
  content: '~КОНЕЦ~';
  color: #797979;
  font-weight: bold;
  display: inline-block;
  background: #181818;
}
/*** END QMS ***/
table {
  font-size: inherit;
}
a img {
  margin-right: 0.4em;
  vertical-align: middle;
  margin: 1em 0;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] {
  position:  relative;
  display: inline-block;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] > img {
  position: absolute;
  opacity: 0;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  content: '«';
  text-decoration: none;
  font-weight: bold;
  font-size: 1.45em;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  margin: -0.2em -0.3em;
}
.post-block .block-title a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  margin-right: -0.2em !important;
}
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: middle;
}
a {
  /*ссылка*/
  color: #7090CD;
  line-height: 1.7;
}
ul,
ol {
  margin-left: -0.4em;
}
.spoiler_button {
  position: relative;
  z-index: 99;
  float: right;
  width: 100%;
  display: block;
  margin-top: -2.7em;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  background: none;
  border: 0;
  color: #ccc;
  text-transform: lowercase;
  text-align: right;
}
.post_body font {
  font-size: 0.9em!important;
}
.post_body {
  font-size: 1em
display: block;
  min-height: 9em;
  border: 1px solid #333333;
  border-top: 1px solid #4d4d4d !important;
  border-radius: 0.3em;
  padding: 0.8em 0.4em 1.5em 17em;
  word-wrap: break-word;
  margin: 1.2em 0.3em 0 0.3em;
  background: #202020;
  -webkit-box-shadow: 2px 4px 4px #000000;
}
.signature {
  /*font-size: 1rem;*/
  display: block;
  color: #color;
  border: 1px solid #333333;
  border-top: 1px solid #4d4d4d !important;
  border-radius: 0.3em;
  padding: 0.8em 0.4em 1.5em 0.4em;
  word-wrap: break-word;
  margin: 0 0.3em;
  background: #202020;
  -webkit-box-shadow: 1px 0.4em 0.8em #000000;
}
.post_body img,
.post img {
  max-width: 100%!important;
  height: auto!important;
}
.sp_img {
  /*ячейка картинки*/
  display: inline-block;
  margin: 0.3em 0 0.5em;
  padding: 0.2em 0.2em 0.2em 0.4em;
  border-top: 1px solid #535353;
  color: #8da6d7 !important;
  background: #202020 url(img_empty.png) no-repeat center;
  background-size: contain;
  border-radius: 0.2em;
  -webkit-box-shadow: 0.1em 0.1em 0.4em #111111;
}
.post_header {
  float: left;
  width: 15.5em;
  height: 8em;
  border-radius: 0.3em 0.3em 0 0;
  margin: 1.35em 0.3em 0.3em 0.35em;
  padding: 0.4em;
  color: #ffffff !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #272d34), color-stop(100%, #202020));
  text-shadow: 0px 0px 5px #000000;
}
.post_header a img {
  margin: -0.3em 0.2em 0 0.2em;
}
.post_header table,
.post_header table tbody,
.post_header table thead,
.post_header table th,
.post_header table td,
.post_header table tr {
  display: block;
  box-sizing: border-box;
}
/* 

BROWSER VIEW

*/
.post_header .post_date {
  /*дата бр.*/
  display: block;
  font-size: 0.9rem;
  float: right;
  margin-top: -0.3em;
}
.post_header .post_date a {
  /*пост бр.*/
}
.post_nick a {
  /*ник бр.*/
  display: block;
  font-size: 1.3rem;
  line-height: 1.2;
  padding: 0;
}
.post_user_info {
  line-height: 1.4;
  font-size: 1rem;
  display: block;
  color: transparent;
  text-shadow: none;
  margin-bottom: -1.5rem;
}
.post_user_info font {
  text-align: right;
  position: relative;
  display: block;
  top: -3em;
  line-height: 1.2;
  font-size: 0.9em;
}
.post_user_info br {
  display: none;
}
.post_user_info > strong {
  /*куратор темы*/
  position: relative;
  margin: -1.2em 0 0;
  display: block;
  color: green;
  width: 100%;
  font-size: 1rem !important;
  text-shadow: 0 0 0.2em #000000;
}
.post_user_info > span {
  /*ранг бр.*/
  margin-top: 0.3em;
  margin-left: -3.8em;
  display: inline-block;
}
.post_user_info > a {
  /*профиль. qms*/
  position: relative;
  top: -1.2em;
  display: inline-block;
  margin: 0;
  text-decoration: none;
}
.post_user_info a:first-of-type {
  /*кумыс*/
}
.post_user_info a:last-of-type {
  /*профиль*/
}
.post_action {
  /*цит. уд. ред.*/
  font-size: 1em;
  margin-top: 0.4em;
  display: block;
}
.post_action a {
  /* жалоба, уд., ред., цит. */
  font-size: 0.8em;
  display: inline-block;
  background: #ededed;
  line-height: 1.4;
  margin-right: 1px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.4em;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  text-shadow: 0 0 0.4em #000000;
}
/* 

END BROWSER VIEW

*/
div .post_header a:link {
  font-size: 1em;
}
.post_header td div .post_date_cli {
  /* дата и пост */
  display: block;
  text-align: left;
  line-height: 2.5;
  font-size: 0.9em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0.2em #000000;
}
.post_header td div .post_date_cli:after {
  content: "";
  padding: 0.4em;
  background: #272d34;
  margin-left: -0.3em;
}
.post_header .post_date_cli a {
  position: relative;
  margin-right: 0.3em;
  top: -1.6em;
  display: block;
  float: right;
  padding-left: 0.4em;
  border-left: 1px solid #555;
  font-weight: bold;
  color: #bcbcbc;
  line-height: 1.3;
}
.post_header td .system_link .post_date_cli {
  /* реп. моб. вид */
  text-align: right;
  position: relative;
  top: 0.7em;
  font-size: 0.9em;
  font-weight: bold;
  color: #bcbcbc;
  text-shadow: 0 1px 0.2em #000000;
}
.user_group {
  line-height: 1.2;
  font-size: 0.9em;
}
.post_header td div .system_link {
  /* меню */
  position: relative;
  top: -4.3em;
  font-size: 1em;
  border-radius: 0.4em;
  margin: 0;
  padding: 1px 0.3em 0.3em 0.3em;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  text-shadow: 0 0 0.4em #000000;
}
.post_header a {
  /*цвет: меню, номер поста*/
  text-decoration: none!important;
  color: #ffffff;
  text-shadow: 0 1px 0.2em #000000;
}
.post_nick_online_cli a,
.post_nick_cli a {
  /*ник off.*/
  display: block;
  font-size: 1.1rem!important;
  line-height: 1.3;
  color: #ffffff;
  font-weight: bold;
  padding: 0 0.4em;
  border-radius: 0.4em;
  border-top: 1px solid #050b12;
  border-right: 1px solid #22282f;
  border-left: 1px solid #22282f;
  border-bottom: 1px solid #494f56;
  margin-top: -0.2em;
  margin-left: -0.2em;
  margin-right: -0.2em;
  text-shadow: #000000 !important;
}
.post_nick_online_cli a {
  background: -webkit-gradient(linear, left top, right top, color-stop(85%, #202020), color-stop(10%, #183918));
}
.post_nick_cli a {
  background: -webkit-gradient(linear, left top, right top, color-stop(85%, #202020), color-stop(10%, #441b1b));
}
.s_post_footer {
  position: relative;
  clear: both;
  font-size: 1rem;
  padding: 0.3em 0.6em;
  margin: 0 0.3em;
  border: 1px #333333 solid;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #333333;
  border-radius: 0.3em;
  background: #2b2b2b;
  -webkit-box-shadow: 2px 4px 4px #000000;
}
.footer_button {
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
}
.post_footer {
  display: table-block;
  min-height: 1.6em;
  text-align: center;
  position: relative;
  clear: both;
  font-size: 1rem;
  padding: 0.3em 0.6em;
  margin: 0 0.3em;
  border: 1px #333333 solid;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #333333;
  border-radius: 0.3em;
  background: #2b2b2b;
  -webkit-box-shadow: 2px 4px 4px #000000;
}
.post_footer a {
  display: table-block;
  text-decoration: none;
}
.post_footer a span {
  display: table-block;
}
.post_footer a .send_claim_button {
  display: block;
  float: left;
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
}
.post_footer a .send_claim_button:before {
  content: 'жалоба';
}
.post_footer a .send_claim_button:after {
  content: '';
  position: absolute;
  padding: 0.7em 0;
  margin-left: 0.9em;
  border-left: 1px solid #666666;
}
.post_footer a .insert_nick_button {
  display: block;
  float: left;
  margin-left: 1em;
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
}
.post_footer a .insert_nick_button:before {
  content: 'имя';
}
.post_footer a .insert_nick_button:after {
  content: '';
  position: absolute;
  padding: 0.7em 0;
  margin-left: 0.9em;
  border-right: 1px solid #666666;
}
.post_footer a .quote_button {
  display: block;
  float: left;
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
  margin-left: 1em;
}
.post_footer a .quote_button:before {
  content: 'цитата';
}
.post_footer a .post_vote_bad {
  display: inline-block;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  margin-left: 1em;
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
}
.post_footer a .post_vote_bad:after {
  content: 'плохо';
  margin-right: 0.5em;
}
.post_footer a .post_vote_bad:before {
  content: "➜";
  -webkit-transform: rotate(90deg);
  float: left;
  margin-right: 0.5em;
  font-size: 1em;
  color: #d23d3d;
}
.post_footer a .post_vote_good {
  display: inline-block;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
  margin-left: 0.5em;
}
.post_footer a .post_vote_good:before {
  content: 'хорошо';
  margin-left: 0.15em;
}
.post_footer a .post_vote_good:after {
  content: "➜";
  -webkit-transform: rotate(-90deg);
  margin-left: 0.15em;
  float: right;
  font-size: 1em;
  color: #068106;
}
.post_footer a .delete_post_button {
  display: block;
  float: right;
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
}
.post_footer a .delete_post_button:before {
  content: 'удалить';
}
.post_footer a .delete_post_button:after {
  content: '';
  position: absolute;
  padding: 0.7em 0;
  margin-left: 0.9em;
  border-left: 1px solid #666666;
}
.post_footer a .edit_post_button {
  display: block;
  float: right;
  margin-left: 1em;
  line-height: 1.4;
  padding: 0 0.4em 0.1em;
  border-radius: 0.4em;
  border: 1px solid #707070;
  text-align: center;
  color: #bcbcbc;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#181818));
  text-shadow: 0 0 0.4em #000000;
}
.post_footer a .edit_post_button:after {
  content: 'редактировать';
}
.searchlite {
  color: #ee6050;
}
.href_button {
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  padding: 0.2em 0;
  color: #bcbcbc;
  text-shadow: 0em 0em 0.6em #000000;
}
.href_button_disable {
  text-shadow: none;
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 0;
  color: #181818;
  text-shadow: 1px 1px 1px #888888;
}
#viewers,
#writers {
  display: block;
  text-align: center!important;
}
#viewers > .href_button {
  display: inline-block;
  font-size: 1rem;
  width: 9.5em;
  padding: 0.4em;
  line-height: 1.4;
  border-radius: 0.4em;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  -webkit-box-shadow: 0 -0.2em 0.4em #3a3a3a, 0.2em 0 0.4em #070707, 0 0.2em 0.4em #000000, -0.2em 0 0.4em #181818;
}
#writers > .href_button {
  display: inline-block;
  font-size: 1rem;
  padding: 0.4em;
  width: 12em;
  line-height: 1.4;
  border-radius: 0.4em;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  -webkit-box-shadow: 0 -0.2em 0.4em #3a3a3a, 0.2em 0 0.4em #070707, 0 0.2em 0.4em #000000, -0.2em 0 0.4em #181818;
}
.topic_title_post {
  margin: 1em;
  padding: 0.5em 1em;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #181818), color-stop(10%, #3d3d3d), color-stop(90%, #3d3d3d), color-stop(100%, #181818));
}
.topic_title_post a {
  text-decoration: none;
  color: #8baedc;
  line-height: 1.2;
}
.post-block.quote {
  position: relative;
  display: block;
  border: 1px solid #333333;
  border-radius: 0.3em;
  padding: 0px;
  margin: 0.5em 0.2em 0.5em 0;
}
.post-block.quote > .block-body {
  border-radius: 0 0 0.3em 0.3em;
  background: #202020;
  padding: 0.5em;
  color: #ffffff;
}
.post-block.quote > .block-title {
  border-radius: 0.3em 0.3em 0 0;
  padding: 1px 0.4em;
  font-weight: bold;
  line-height: 1.4;
  border-top: 1px solid #585c60;
  border-left: 1px solid #414549;
  border-right: 1px solid #414549;
  border-bottom: 1px solid #333333;
  color: #b2caf6;
  background: #303438;
}
.hidetop {
  font-size: 1rem;
  display: block;
  border-radius: 0.4em;
  margin: 2.2em 0.4em 0.2em 16.8em;
  line-height: 8.8em;
  text-align: center;
  max-height: 100% !important;
  color: #ffffff;
  border: 1px solid #777777;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  -webkit-box-shadow: 0.2em 0.2em 0.3em #000000;
  text-shadow: 0 0 0.4em #000000;
}
.hidetop b {
  font-size: 1.4em;
}
.hidemain > .post_body {
  padding-left: 0.4em !important;
  margin-top: 0 !important;
}
.post-block.spoil > .block-body {
  padding: 0.5em;
  margin: 0;
  border-radius: 0.4em;
  border: 1px solid #333333;
  background: #202020;
}
.post-block.spoil > .block-title {
  border-radius: 0.4em;
  margin: 0.5em -1px;
  padding: 0.3em 0.5em 0.4em 0.5em;
  color: #ffffff;
  border: 1px solid #777777;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  -webkit-box-shadow: 0.2em 0.2em 0.3em #000000;
  text-shadow: 0 0 0.4em #000000;
}
.post-block.code {
  position: relative;
  display: block;
  border: 1px solid #333333;
  border-radius: 0.4em 0.4em 0.3em 0.3em;
  padding: 0px;
  margin: 0.5em 0.2em 0.5em 0;
}
.post-block.code > .block-body {
  border-radius: 0 0 0.3em 0.3em;
  background: #202020;
  padding: 0.5em;
  color: #99cc99;
}
.post-block.code > .block-title {
  border-radius: 0.3em 0.3em 0 0;
  padding: 1px 0.4em;
  font-weight: bold;
  line-height: 1.4;
  border-top: 1px solid #4d584d;
  border-left: 1px solid #364136;
  border-right: 1px solid #364136;
  border-bottom: 1px solid #333333;
  color: #80c080;
  background: #253025;
}
.post-block.hidden {
  position: relative;
  display: block;
  border: 1px solid #333333;
  border-radius: 0.4em 0.4em 0.3em 0.3em;
  padding: 0px;
  margin: 0.5em 0.2em 0.5em 0;
}
.post-block.hidden > .block-body {
  border-radius: 0 0 0.3em 0.3em;
  background: #202020;
  padding: 0.5em;
  color: #ffffff;
}
.post-block.hidden > .block-title {
  border-radius: 0.3em 0.3em 0 0;
  padding: 1px 0.4em;
  font-weight: bold;
  line-height: 1.4;
  border-top: 1px solid #666666;
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
  border-bottom: 1px solid #333333;
  color: #c7c7c7;
  background: #333333;
}
.cur {
  background: #3a9642;
}
.mod {
  background: #5353c6;
}
.ex {
  background: #c62d2d;
}
.cur,
.mod,
.ex {
  border-radius: 0.3em;
  margin: 0.8em 0;
  border: 1px solid #636363;
  display: table;
  width: 100%;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  width: 1.5em;
  padding: 0.5rem 0;
  display: table-cell;
  vertical-align: middle;
  color: #242424;
  font-weight: bold;
  text-align: center;
  font-size: 3em!important;
  font-family: Times New Roman, Serif;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 1em;
  height: 100%;
  margin: 0;
  color: #ffffff;
  background: #242424;
}
div strong {
  position: relative;
  display: inline;
}
.post_body strong .edit {
  /* прикреплённые файлы */
  position: relative;
  display: inline;
  margin-left: 5.8em;
  border: none;
  font-size: 0.9em;
}
.edit {
  /*кто редактировал*/
  font-size: 0.85em;
  padding-top: 1em;
  padding-bottom: 0.3em;
  border-top: 1px solid #414141;
  color: #909090;
  display: block;
  text-align: right;
}
.edit b {
  font-size: 0.9rem;
  color: #a6a6a6 !important;
}
.edit * {
  font-size: 1em;
  color: #909090;
}
.post-edit-reason {
  /*причина ред.*/
  font-size: 0.9em;
  color: #909090;
  display: block;
  text-align: right;
}
/* 

N E W S

*/
.container {
  margin: 0;
  display: block;
  margin: 0.3em;
  background: #202020;
  border-radius: 0.3em;
  border: 1px solid #3d3d3d;
  padding: 0.3em;
  color: #ffffff;
}
.content {
  display: block;
  padding: 0.5em;
}
h1 {
  text-align: center;
  font-size: 1.5em;
  color: #909090;
}
.product-detail {
  display: block;
  border: 1px solid #525252;
  border-radius: 0.3em;
  padding: 0.2em;
  text-align: center;
  background: #2b2b2b;
}
.photo {
  display: block;
  margin-top: 1em;
}
.photo img {
  max-width: 100%;
  height: auto;
}
.more-box {
  position: relative;
  text-align: center;
}
h3 {
  text-align: center;
}
h3 a {
  text-decoration: none;
  color: #909090;
}
.info-holder {
  display: block;
  text-align: center;
}
.materials-box {
  padding: 1em 0;
}
.more-box a.number {
  color: #363636;
  font-weight: bold;
  background: #4d78b2;
  line-height: 1.6;
  padding: 0 0.8em;
  border-radius: 0.2em;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
}
.box-title {
  margin: 1em 0.2em;
  padding: 0.2em 0;
  text-align: center;
  color: #909090;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #181818), color-stop(10%, #292929), color-stop(90%, #292929), color-stop(100%, #181818));
}
.materials-list {
  margin: 0 0.2em 0 1em;
  padding: 0;
  line-height: 1.4;
}
.materials-list li {
  padding: 0.5em 0;
  margin: 0.5em 0;
  font-size: 1rem;
  list-style-type: none;
}
.materials-list a {
  position: relative;
  display: inline;
  color: #a9bce1;
}
.materials-box .date {
  display: inline;
  font-weight: bold;
  color: #909090;
  text-decoration: none;
  padding: 0 1em;
  font-size: 1.1rem;
}
.materials-box .number {
  color: #181818;
  font-weight: bold;
  background: #4d78b2;
  line-height: 2;
  border-radius: 1em;
  width: 2em;
  text-align: center;
  float: left;
  margin-top: -0.3em;
}
.page-nav.box {
  margin: 1em 0;
  padding: 0;
  text-align: center;
}
.page-nav.box li {
  display: inline-block;
}
.page-nav.box a {
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  width: 4em;
  margin: 0 0.3em;
  border: 1px solid #4d4d4d;
  padding: 0.4px 0.2em 0 0.2em;
  border-radius: 0.4em;
  color: #bcbcbc;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#222222));
  -webkit-box-shadow: 0 -0.2em 0.4em #3a3a3a, 0.2em 0 0.4em #070707, 0 0.2em 0.4em #000000, -0.2em 0 0.4em #292929;
}
.page-nav.box a {
  text-decoration: none;
}
.comment-box h2 {
  text-align: center;
  padding: 0.2em 0;
  color: #909090;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #181818), color-stop(10%, #292929), color-stop(90%, #292929), color-stop(100%, #181818));
}
#comments {
  font-size: 1rem;
  display: block;
  padding: 0.7em 0;
  position: relative;
  margin: 0.1em 0.2em 0.1em 0.1em;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
}
#comments li,
#comments ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5em 0;
  margin-left: 0.1em! important;
  margin-right: 0.1em! important;
}
.comment-box li {
  border-radius: 0.4em 0.4em 0.3em 0.3em;
  border: 1px solid #474747;
  text-align: left;
  margin: 1em 0 0 0;
  word-wrap: break-word;
  -webkit-box-shadow: 0 0.2em 0.4em #000000;
  background: #202020;
}
#comments li .heading {
  position: relative;
  display: block;
  margin: 0;
  border-radius: 0.4em 0.4em 0 0;
  border-top: 1px solid #666666;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 2px groove #484848;
  background: #3d3d3d;
  text-shadow: 0 0 0.2em #000000;
  padding: 0.1em 0 0;
}
.nickname {
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5em;
  color: #88acdb;
  line-height: 1.4;
}
.h-meta {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: #a6a6a6;
  float: right;
  margin-top: 0.1em;
  margin-right: 0.2em;
  line-height: 1.4;
}
#comments li p {
  padding-left: 0.3m;
  padding-right: 0.3em;
  padding-bottom: 0;
  margin: 0 0.2em;
}
#comments a:nth-child(2) {
  position: relative;
  display: block;
  text-align: center;
  top: -0.5em;
}
#comments p ~ div {
  display: block;
  text-align: right;
  border-top: 1px solid #3d3d3d;
  margin: 0.5em 0.5em 0;
}
