@charset "utf-8";
HTML {
  font-size: 1em;
  margin: 0 0.2rem;
}
body {
  width: 100%;
  font-size: 100%;
  display: block;
  min-height: 1rem;
  background: #ffffff;
  color: #000000;
  margin: 0;
}
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
.post-block.close > .block-body {
  display: none;
}
.post-block.box > .block-body {
  overflow: auto;
}
@media all and (orientation: landscape) {
  .post-block.spoil.open > .block-title:before {
    content: 'Спойлер (\2013) ( ';
  }
  .post-block.spoil.close > .block-title:before {
    content: 'Спойлер (+) ( ';
  }
  .post-block.spoil > .block-title:after {
    content: ' )';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: 'Спойлер (\2013)';
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: 'Спойлер (+)';
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код (';
  }
  .post-block.code > .block-title:after {
    content: ' )';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ( ';
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013) ( ';
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+)';
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст ( ';
  }
  .post-block.hidden > .block-title:after {
    content: ' )';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст';
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:before {
    content: 'Цитата ( ';
  }
  .post-block.quote > .block-title:after {
    content: ' )';
  }
  .post-block.quote > .block-title:empty:before {
    content: 'Цитата';
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
@media all and (orientation: portrait) {
  .post-block.spoil.open > .block-title:before {
    content: '(\2013) ';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:before {
    content: '(+) ';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:after {
    content: '';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: '(\2013) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: '(+) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:after {
    content: '';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:empty:before {
    content: '"Цитата"';
    font-weight: bold;
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
.poll {
  display: table;
  width: 100%;
  margin: 0 0 1rem;
}
.poll > .hidetop {
  margin: 0 0 2rem !important;
  line-height: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.poll form table {
  width: 100%;
}
.poll form table tr .row1[align="center"] {
  display: block;
  margin: 0.5rem 0;
}
.poll form table .formbuttonrow {
  text-align: center;
  margin: 0.5rem 0;
}
.poll form > .ipbtable th[align="center"] {
  display: none;
  padding: 0.5rem 0;
}
.poll form > .ipbtable .borderwrap {
  margin: 1rem 0 0;
  border: 1px solid #b3b3b3;
}
.poll form > .ipbtable .borderwrap .row1 {
  font-size: 1rem;
  background: #f0f0f0;
}
.poll form > .ipbtable .borderwrap tr {
  display: table;
  width: 100%;
  line-height: 1.4rem;
  padding: 0 0.3rem;
  border-bottom: 1px solid #999999;
}
.poll form > .ipbtable .borderwrap tr:last-of-type {
  border: none;
}
.poll form > .ipbtable .borderwrap tr img {
  display: inline-block;
  margin: -0.15rem 0 0;
  height: 0.8rem !important;
  vertical-align: middle !important;
}
.hidetop {
  display: block;
  padding: 0.3em;
  background: #d0e0f0;
  margin-top: 3.45em !important;
  border-left: 3px #8895a5 solid;
  color: #000000;
  text-align: center;
}
.post-block.spoil > .block-title {
  display: block;
  padding: 0.3em;
  background: #d0e0f0;
  margin: 0.5em -0.6em 0;
  border-left: 0.2em #8895a5 solid;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  color: #000000;
}
.post-block.spoil > .block-body {
  padding: 0.5em;
  margin: 0 -0.6em;
  border-left: 0.2em #8394b2 solid;
  border-right: 0;
  border-bottom: 1px #dee4ec solid;
}
.post-block.quote {
  display: block;
  padding: 0.2em 0.4em 0.4em 0.4em;
  margin: 1em 0.2em 1em 0;
  border-left: 0.2em solid #5588cc;
}
.post-block.quote > .block-title {
  display: block;
  margin-bottom: 0.5em;
  color: #666666;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;
}
.post-block.quote > .block-body {
  padding: 0;
  margin: 0;
  color: #000000;
}
.post-block.code > .block-title,
.sqltop,
.htmltop {
  color: #666666;
  font-weight: bold;
  margin: 0.5em auto 0;
  padding: 0.3em;
}
.post-block.code > .block-body,
.sqlmain,
.htmlmain {
  border: 1px dotted #545454;
  color: #009900;
  margin: 0 auto 0.4em;
  padding: 0.3em;
}
.post-block.hidden > .block-title {
  color: #666666;
  font-weight: bold;
  margin: 0.5em auto 0;
  padding: 0.3em;
}
.post-block.hidden > .block-body {
  border: 1px dotted #848484;
  color: #000000;
  margin: 0 auto 0.4em;
  padding: 0.5em 0.2em;
}
/***ADM***/
.cur {
  background: #00943b;
}
.mod {
  background: #6060ff;
}
.ex {
  background: #ff6060;
}
.cur,
.mod,
.ex {
  margin: 0.8em  0;
  border: 1px solid #cccccc;
  display: table;
  width: 100%;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  width: 4.5rem;
  text-align: center;
  height: 100%;
  padding: 0.5em 0;
  font-size: 3.5rem;
  font-family: Times New Roman, Serif;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 1em;
  background: #ffffff;
  height: 100%;
  margin: 0;
}
/*** navi ***/
.navi {
  margin-top: 3px;
  max-width: 100%;
  text-align: center;
  background: #ffffff;
  /*border-top: 2px ridge #222;
border-bottom: 2px groove #222;*/
}
.first,
.prev,
.page,
.next,
.last {
  display: inline-block;
  float: center;
  text-align: center;
}
.first,
.prev,
.next,
.last {
  width: 15%;
}
.page {
  width: 26%;
}
.prev {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.next {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
/*** QMS ***/
.check-item {
  margin-top: -0.4em;
  display: block;
  text-align: right;
  line-height: 1.5;
  float: right;
}
#thread-inside-top ~ .date {
  /*font-size: 1rem;*/
  margin-right: 0.4em;
  text-align: center;
  margin-bottom: 1em;
}
.date .text {
  top: 0.6em;
  display: inline-block;
  padding: 0 0.6em;
  position: relative;
  color: #4d4d4d;
  font-size: 1.1rem;
  font-weight: bold;
  background: #ffffff;
  text-transform: lowercase;
}
.read-status.unread.big-dot {
  position: relative;
  top: -0.1em;
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  border-radius: 0.6em;
  background: #c77;
}
.avatar-wrap {
  margin-top: 1.2em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0.15em;
  float: left;
  border-radius: 0.2em;
  border: 1px solid #999999;
  background: #efefef;
  -webkit-box-shadow: 0.1em 0.3em 0.4em #cccccc;
}
.avatar-wrap > .avatar {
  max-height: 5em;
  width: 5em;
}
label ~ .time {
  position: relative;
  float: right;
  font-size: 0.85em;
  color: #666666;
  margin-tight: 0;
  margin-top: -0.1em;
}
.post_body > strong {
  line-height: 0.8em;
  width: 1em;
  position: absolute;
  font-size: 1.1em;
  margin-bottom: 0.4em;
  margin-left: -5.4em;
}
.list-group-item {
  display: block;
  margin: 1.5em 0.3em;
  padding: 0.2em;
  padding-bottom: 1em !important;
  /*border-top:  1px solid #555;
background: #202020;
-webkit-box-shadow: 1px 0.4em 0.8em #000;*/
}
.avatar-wrap:before,
.avatar-wrap:after {
  position: absolute;
  content: '';
  left: 6rem;
  border: 12px solid transparent;
  border-right: 12px solid #999999 !important;
}
.avatar-wrap:after {
  left: 6.1rem;
  border-right: 12px solid #ffffff !important;
}
/*.list-group-item.our-message > 
.avatar-wrap:after{
border-right: 12px solid mix(@color, @bg-color, 5%) !important;
}*/
.msg-content {
  border-radius: 0.3em;
  min-height: 5em;
  margin: 0 0.2em 0 6.9em;
  padding: 0.4em 0.6em;
  border: 1px solid #999999;
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 0.2em 0.2em 0.3em #cccccc;
}
.list-group-item.our-message > .msg-content {
  /*background: mix(@color, @bg-color, 5%);*/
  color: #666666;
}
#bottom_element {
  margin: 2em 0em;
  text-align: center;
  background: #ffffff;
}
#bottom_element:before {
  content: '~КОНЕЦ~';
  color: #999999;
  font-weight: bold;
  display: inline-block;
  background: #ffffff;
}
/*** END QMS ***/
table {
  font-size: inherit;
}
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: middle;
}
a {
  color: #2266cc;
  line-height: 1.7;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] {
  position:  relative;
  display: inline-block;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] > img {
  position: absolute;
  opacity: 0;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  content: '«';
  text-decoration: none;
  font-weight: bold;
  font-size: 1.45em;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  margin: -0.2em -0.3em;
  color: #58c;
}
.post-block .block-title a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  margin-right: -0.2em !important;
}
ul,
ol {
  margin-left: -1em;
}
.spoiler_button {
  position: relative;
  z-index: 99;
  float: right;
  width: 100%;
  display: block;
  margin-top: -2.7em;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  background: none;
  border: 0;
  color: #000000;
  text-transform: lowercase;
  text-align: right;
}
img {
  max-width: 100%!important;
  height: auto!important;
}
.sp_img {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.3em;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  background: #e6e6e6;
}
/* 
 *	TABLET VIEW
*/
.post_header {
  display: block;
  float: left;
  width: 13.9rem;
  min-height: 9.5rem;
  text-decoration: none;
  text-align: center;
  margin-top: 0.3rem !important;
  padding: 0;
  margin: 0;
  background: #ffffff;
}
.post_header table {
  margin: 0;
}
.post_header img {
  min-height: 0.8em;
  vertical-align: middle;
}
.post_user_info {
  color: transparent;
}
.post_user_info span {
  display: inline-block;
  line-height: 1.8;
  margin-left: -3.5em;
}
.post_user_info font {
  display: block;
}
.post_user_info strong {
  display: inline-block;
  color: #090;
  margin-top: 0.4em;
  line-height: 1;
}
.post_user_info a {
  color: #545454;
}
.post_nick_cli,
.post_nick_online_cli {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  padding-top: 0.1rem;
  margin: -0.35rem 0.1rem 0 -0.2rem;
  text-align: center;
  width: 13.95rem;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  border-right: 1px solid #a6a6a6;
  background: #f0f0f0;
  z-index: 98;
}
.post_nick_cli a,
.post_nick_online_cli a {
  font-size: 1.1em;
  font-weight: bold;
  color: #191919 !important;
}
.post_nick_cli a:hover,
.post_nick_online_cli a:hover {
  opacity: 0.5;
}
.post_nick_cli:after,
.post_nick_online_cli:after {
  position: absolute;
  width: 13.9rem;
  display: block;
  text-align: center;
  text-decoration: none !important;
  margin: 0.6rem 0 0;
}
.post_nick_online_cli:after {
  content: 'online';
  color: #00b300 !important;
}
.post_nick_cli:after {
  content: 'offline';
  color: #9b0000 !important;
}
.post_nick {
  position: relative;
  display: block;
  line-height: 2rem;
  height: 2rem;
  padding: 0.1rem 0.8rem 0;
  margin: -1.45rem -0.15rem -1.2rem 0;
  text-align: center;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  border-right: 1px solid #a6a6a6;
  background: #f0f0f0;
  z-index: 98;
}
.post_nick a {
  font-size: 1.1rem !important;
  font-weight: bold;
  color: #191919;
}
.post_nick a:hover {
  opacity: 0.5;
}
.post_header > SPAN.post_action > A {
  text-decoration: none;
  font-weight: bold;
}
.user_group {
  display: block;
  color: #4d4d4d;
  width: 13.9rem;
  font-size: 85%;
  margin: 1.8rem 0 0;
  line-heiht: 0.6;
  text-align: center;
}
.post_header > TABLE > TBODY > TR > TD > A.system_link > SPAN.post_date_cli {
  display: block;
  margin: 0;
  text-align: center;
  width: 13.9rem;
  color: #262626;
}
.post_header > TABLE > TBODY > TR > TD > DIV > SPAN.post_date_cli,
.post_header_container > DIV.post_header > SPAN.post_date {
  position: absolute;
  right: 0.2rem;
  display: inline-block;
  color: #545454;
  line-height: 2rem;
  height: 2rem;
  padding: 0.1rem 0.8rem 0;
  margin-top: -1.25rem !important;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  background: #f0f0f0;
  left: 14rem;
}
.post_header > TABLE > TBODY > TR > TD > DIV > SPAN.post_date_cli a,
.post_header_container > DIV.post_header > SPAN.post_date a {
  font-size: 1em;
  color: #000000 !important;
}
.post_header > TABLE > TBODY > TR > TD > DIV > SPAN.post_date_cli a {
  margin-left: 0.4rem;
}
.post_header_container > DIV.post_header > SPAN.post_date {
  margin-top: -0.25rem !important;
  text-align: right;
  line-height: 1;
}
.avatar_container {
  position: relative;
  margin: 1rem 0 -0.6rem;
  display: block;
  vertical-align: middle;
  text-align: center;
  top: 1rem;
  width: 13.9rem;
  overflow: hidden;
  border-radius: 0.3em;
}
.avatar_container IMG {
  display: inline-block;
  margin: 0 auto;
  max-width: 6rem !important;
  max-height: 6rem !important;
}
.post_header > TABLE > TBODY > TR > TD > DIV > .system_link[onclick*="showPostMenu"] {
  position: absolute;
  display: block;
  left: 0;
  margin-top: 1.2em !important;
  margin: 1.2em 5.5em;
  display: inline-block;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  text-align: center;
  color: #333333 !important;
  font-weight: normal;
  background: #f0f0f0;
}
.post_header > TABLE > TBODY > TR > TD > DIV > .system_link[onclick*="showPostMenu"]:hover {
  opacity: 0.5;
}
.hidetop {
  position: relative;
  display: block;
  top: 0;
  margin-left: 13.9em !important;
  text-align: center;
  line-height: 14rem;
  margin: 0 0 0.2rem;
}
.hidetop b {
  font-size: 1.4em;
}
.hidemain {
  border: none! important;
  padding: 0 !important;
  margin-top: -2.1rem !important;
}
.post_body {
  display: block;
  padding: 2em 0.6em 1em;
  border-left: 13.95rem solid #ffffff;
  word-wrap: break-word;
  background: #ffffff;
  text-align: left;
  min-height: 14rem;
  margin: 2.2em 0 0;
  -webkit-box-shadow: inset 1px 0 1px #999999;
}
DIV > DIV.post_body {
  padding-top: 1rem;
}
.post_body ~ a {
  position: relative;
  z-index: 99;
  display: block;
  background: #5588cc;
  padding: 0.25rem 0 0 0;
  margin-bottom: -0.1rem;
}
.between_messages {
  position: relative;
  background: #5588cc;
  padding: 0.3rem 0 0 0;
  margin: 0.1em 0 -0.2rem;
}
/* 
 *	END TABLET VIEW
*/
.post_body font {
  font-size: 0.95rem!important;
  color: #606060;
}
.signature {
  font-size: 1rem;
  position: relative;
  padding: 1em 0.5em 2em;
  clear: both;
  word-wrap: break-word;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}
.signature {
  background: #f0f0f0 !important;
}
.signature:before {
  content: 'подпись';
  display: block;
  margin-top: -0.9em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #808080;
  font-size: 0.8em;
  border-bottom: 1px solid #b3b3b3;
}
.post_header a img {
  margin-bottom: 0;
}
.s_post_footer {
  position: relative;
  clear: both;
  padding: 0 0.3rem;
  margin-top: -0.1rem;
  background: #f0f0f0;
  text-align: center;
  color: #000000;
}
.s_post_footer td {
  position: relative;
  top: -0.15rem;
  padding: 0.2em 0.3em;
  border-top: 1px solid #a6a6a6;
}
.post_footer_style {
  position: relative;
  padding: 0.3em 0.6em;
  clear: both;
  margin-top: -0.1rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #a6a6a6;
  background: #f0f0f0;
}
.post_footer_style:before {
  content: '';
  position: absolute;
  padding: 1rem 0;
  height: 0.4rem;
  margin-top: -0.3rem;
  left: 13.95rem;
  border-right: 1px solid #a6a6a6;
  padding: 0.9em 0;
}
.post_footer {
  display: table-block;
  min-height: 1.6em;
  text-align: center;
  position: relative;
  padding: 0.3em 0.6em;
  clear: both;
  margin-top: -0.1rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #a6a6a6;
  background: #f0f0f0;
}
.post_footer:before {
  content: '';
  position: absolute;
  padding: 1rem 0;
  height: 0.4rem;
  margin-top: -0.3rem;
  left: 13.95rem;
  border-right: 1px solid #a6a6a6;
  padding: 0.9em 0;
}
.post_footer a {
  display: table-block;
  text-decoration: none;
}
.post_footer span {
  display: table-block;
}
.post_footer .send_claim_button {
  display: block;
  float: left;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  font-weight: normal;
  text-align: center;
  color: #333333 !important;
}
.post_footer .send_claim_button:hover {
  opacity: 0.5;
}
.post_footer .send_claim_button:before {
  content: 'жалоба';
}
.post_footer .send_claim_button:after {
  content: '';
  position: absolute;
  padding: 0.7em 0;
  margin-left: 0.8em;
  border-left: 1px solid #a6a6a6;
}
.post_footer .insert_nick_button {
  display: block;
  float: left;
  margin-left: 0.7em;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  font-weight: normal;
  text-align: center;
  color: #333333 !important;
}
.post_footer .insert_nick_button:hover {
  opacity: 0.5;
}
.post_footer .insert_nick_button:before {
  content: 'имя';
}
.post_footer .insert_nick_button:after {
  content: '';
  position: absolute;
  padding: 0.7em 0;
  margin-left: 0.8em;
  border-right: 1px solid #a6a6a6;
}
.post_footer .quote_button {
  display: block;
  float: left;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  font-weight: normal;
  text-align: center;
  color: #333333 !important;
  margin-left: 0.7em;
}
.post_footer .quote_button:hover {
  opacity: 0.5;
}
.post_footer .quote_button:before {
  content: 'цитата';
}
.post_footer .post_vote_bad {
  display: inline-block;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  margin-right: 0.2em;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  font-weight: normal;
  text-align: center;
  color: #333333 !important;
}
.post_footer .post_vote_bad:hover {
  opacity: 0.5;
}
.post_footer .post_vote_bad:after {
  content: 'плохо';
  margin-right: 0.5em;
}
.post_footer .post_vote_bad:before {
  position: relative;
  top: 0.1em;
  font-weight: bold;
  content: "➜";
  -webkit-transform: rotate(90deg);
  float: left;
  margin-right: 0.5em;
  font-size: 1em;
  color: #fd6767;
}
.post_footer .post_vote_good {
  display: inline-block;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  font-weight: normal;
  text-align: center;
  color: #333333 !important;
  margin-left: 0.2em;
}
.post_footer .post_vote_good:hover {
  opacity: 0.5;
}
.post_footer .post_vote_good:before {
  content: 'хорошо';
  margin-left: 0.15em;
}
.post_footer .post_vote_good:after {
  position: relative;
  top: 0.1em;
  content: "➜";
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
  margin-left: 0.15em;
  float: right;
  font-size: 1em;
  color: #31ab31;
}
.post_footer .delete_post_button {
  display: block;
  float: right;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  font-weight: normal;
  text-align: center;
  color: #333333 !important;
}
.post_footer .delete_post_button:hover {
  opacity: 0.5;
}
.post_footer .delete_post_button:before {
  content: 'удалить';
}
.post_footer .delete_post_button:after {
  content: '';
  position: absolute;
  padding: 0.7em 0;
  margin-left: 0.8em;
  border-left: 1px solid #a6a6a6;
}
.post_footer .edit_post_button {
  display: block;
  float: right;
  margin-left: 0.7em;
  line-height: 1.2;
  margin-top: 0.15em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #8c8c8c;
  font-weight: normal;
  text-align: center;
  color: #333333 !important;
}
.post_footer .edit_post_button:hover {
  opacity: 0.5;
}
.post_footer .edit_post_button:after {
  content: 'редактировать';
}
/*.post_footer_style table{
text-align:center;
font-size: 0.95rem;
color: #777;
}*/
.signature {
  font-size: 0.95rem;
  color: #999;
}
.searchlite {
  color: #ee6050;
}
.href_button {
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-transform: lowercase;
  color: #2266cc;
  text-decoration: none;
  text-align: center;
  padding: 0.4em 0;
}
.href_button_disable {
  color: #b3b3b3;
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0.4em 0;
}
#viewers + br {
  display: none;
}
#viewers,
#writers {
  float: left;
  display: block;
  width: 50%;
  font-size: 1em;
  margin-top: -0.5em;
}
#viewers {
  margin-left: -0.2rem;
}
#writers {
  margin-right: -0.2rem;
}
.topic_title_post {
  margin: 0 0 -0.2rem;
  padding: 2em;
  text-align: center;
}
.topic_title_post a {
  color: #2266cc;
  text-decoration: none!important;
  line-height: 1.2;
}
.quotetop img {
  margin-top: auto;
  margin-bottom: auto;
}
.post_body > DIV > STRONG > SPAN.edit {
  position: relative;
  display: block;
  line-height: 1.4;
  margin-top: -0.4rem;
  margin-left: 6rem;
  width: 11rem;
}
.edit {
  font-size: 0.9rem;
  color: #6c6c6c;
}
edit b {
  font-size: 0.95rem;
}
.edit * {
  font-size: 0.9rem;
  color: #6c6c6c;
}
.post-edit-reason {
  font-size: 0.9rem;
  color: #6c6c6c;
}
/*news*/
.container {
  margin: 0;
  display: block;
  margin: 0.3em;
  background: #ffffff;
  border: 1px solid #a8a8a8;
  padding: 0.3em;
  color: #000000;
}
.content {
  display: block;
  padding: 0.5em;
}
h1 {
  text-align: center;
  font-size: 1.5em;
  color: #484848;
}
.product-detail {
  display: block;
  border: 1px solid #909090;
  background: #f0f0f0;
  padding: 0 0.2em 0.5em;
}
.container > DIV.product-detail > DIV.photo > A.label.orange {
  display: block;
  text-align: center;
  padding: 0.5em;
  color: #2266cc;
}
.photo {
  display: block;
  margin-top: 1em;
  text-align: center;
}
.photo img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.more-box {
  position: relative;
  text-align: center;
}
h3 {
  text-align: center;
}
h3 a {
  text-decoration: none;
  font-size: 1.4em;
  color: #484848;
}
.info-holder {
  display: block;
  text-align: center;
}
.mlinks {
  border: 1px solid #a8a8a8;
  margin: 1rem 0;
}
.mlinks .mlhead {
  display: table;
  width: 100%;
  padding: 0.2rem;
  background: #eeeeee;
}
.mlinks .mlhead .mlicon {
  display: block;
  float: left;
  width: 4rem;
  margin: 0.2rem 0.4rem 0.2rem 0.2rem;
}
.mlinks .mlhead .mltitle,
.mlinks .mlhead .mlauthor {
  display: block;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: left;
  margin: 0;
  font-size: 1.1rem;
}
.mlinks .mlhead .mlauthor {
  font-size: 1rem !important;
  font-weight: normal;
}
.mlinks .mltbl.platforms {
  background: #ffffff;
  margin: 0.2rem 0 -0.3rem 0;
}
.mlinks .mlright,
.mlinks .mltbl.platforms {
  display: table-block;
}
.mlinks .mlright .mlrow,
.mlinks .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
}
.mlinks .mlright .mlrow .mlcell.th,
.mlinks .mltbl.platforms .mlrow .mlcell.th {
  border: none;
  border-bottom: 1px solid #a8a8a8;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
}
.mlinks .mlright .mlrow .mlcell,
.mlinks .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 30%;
  border-bottom: 1px solid #a8a8a8;
  border-right: 1px solid #a8a8a8;
  text-align: center;
}
.mlinks .mlright .mlrow .mlcell:last-of-type,
.mlinks .mltbl.platforms .mlrow .mlcell:last-of-type {
  border-right: none;
}
.mlinks .mlright .mlrow .mlcell:first-of-type,
.mlinks .mltbl.platforms .mlrow .mlcell:first-of-type {
  width: 10% !important;
}
.mlinks .mlscreenshots.mlbody {
  border-top: 1px solid #a8a8a8;
  display: block;
  padding: 0.5rem;
}
.mlinks .screenshots {
  overflow-x: auto;
}
.mlinks .screenshots .sc-btn.left,
.mlinks .screenshots .sc-btn.right {
  display: block ;
  height: 0.3rem;
  color: transparent;
}
.mlinks .screenshots .sc-content {
  list-style: none;
  white-space: nowrap;
  padding: 0 2.6rem;
}
.mlinks .screenshots .sc-content:before {
  content: '►';
  font-size: 2rem;
  position: absolute;
  margin-left: -2.3rem;
  display: block;
  display: inline-block;
  background: #5588cc;
  opacity: 0.7;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  width: 2rem;
  color: #ffffff;
}
.mlinks .screenshots .sc-content:before:hover {
  content: 'сделайте свайп влево по изображениям';
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  background: #ffffff;
  border: 2px solid #a8a8a8;
  color: #000000;
}
.mlinks .screenshots .sc-content a {
  display: inline;
  padding: 0.1rem;
  padding-right: 0.3rem;
  white-space: nowrap;
  zoom: 1;
}
.mlinks .screenshots .sc-content a img {
  display: inline-block;
  height: 10rem !important;
}
@font-face {
  font-family: 'fontello';
  src: url('forum/fonts/fontello/fontello.eot?66808348');
  src: url('forum/fonts/fontello/fontello.eot?66808348#iefix') format('embedded-opentype'), url('forum/fonts/fontello/fontello.woff?66808348') format('woff'), url('forum/fonts/fontello/fontello.ttf?66808348') format('truetype'), url('forum/fonts/fontello/fontello.svg?66808348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fontello;
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot");
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot") format('embedded-opentype'), url("file:///android_asset/forum/fonts/fontello/fontello.woff") format('woff'), url("file:///android_asset/forum/fonts/fontello/fontello.ttf") format('truetype'), url("file:///android_asset/forum/fonts/fontello/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
.icon-hash:before {
  content: '\23';
}
/* '#' */
.icon-karma-up:before {
  content: '\2b';
}
/* '+' */
.icon-hide-comment:before {
  content: '\2d';
}
/* '-' */
.icon-4PDA-plain:before {
  content: '\34';
}
/* '4' */
.icon-android:before {
  content: '\41';
}
/* 'A' */
.icon-comment-baloons:before {
  content: '\43';
}
/* 'C' */
.icon-engines:before {
  content: '\44';
}
/* 'D' */
.icon-pencil:before {
  content: '\45';
}
/* 'E' */
.icon-FB:before {
  content: '\46';
}
/* 'F' */
.icon-home:before {
  content: '\48';
}
/* 'H' */
.icon-apple:before {
  content: '\49';
}
/* 'I' */
.icon-rss:before {
  content: '\52';
}
/* 'R' */
.icon-search:before {
  content: '\53';
}
/* 'S' */
.icon-TWITTER:before {
  content: '\54';
}
/* 'T' */
.icon-VK:before {
  content: '\56';
}
/* 'V' */
.icon-windows:before {
  content: '\57';
}
/* 'W' */
.icon-close:hover:before {
  content: '\58';
}
/* 'X' */
.icon-YOUTUBE:before {
  content: '\59';
}
/* 'Y' */
.icon-up-open:before {
  content: '\5e';
}
/* '^' */
.icon-users:before {
  content: '\75';
}
/* 'u' */
.icon-link:before {
  content: '\bb';
}
/* '»' */
.icon-down-dir-1:before {
  content: '\1d65';
}
/* 'ᵥ' */
.icon-up-dir-1:before {
  content: '\1dba';
}
/* 'ᶺ' */
.icon-karma-down:before {
  content: '\2013';
}
/* '–' */
.icon-left-small:before {
  content: '\2039';
}
/* '‹' */
.icon-right-small:before {
  content: '\203a';
}
/* '›' */
.icon-4pda-logo:before {
  content: '\2163';
}
/* 'Ⅳ' */
.icon-up:before {
  content: '\2191';
}
/* '↑' */
.icon-down:before {
  content: '\2193';
}
/* '↓' */
.icon-back-up:before {
  content: '\21b5';
}
/* '↵' */
.icon-up-small:before {
  content: '\21d1';
}
/* '⇑' */
.icon-login:before {
  content: '\23ce';
}
/* '⏎' */
.icon-profile:before {
  content: '\263a';
}
/* '✓' */
/* '✔' */
.icon-glyph:before {
  content: '\272a';
}
/* '✪' */
.icon-cog:before {
  content: '\2731';
}
/* '✱' */
.icon-del:before {
  content: '\274e';
}
/* '❎' */
.icon-warning-empty:before {
  content: '\2755';
}
/* '❕' */
.icon-attention:before {
  content: '\2757';
}
/* '❗' */
.icon-chart-bar:before {
  content: '\2758';
}
/* '❘' */
.icon-chart-bar-1:before {
  content: '\2759';
}
/* '❙' */
.icon-glyph-1:before {
  content: '\275a';
}
/* '❚' */
.icon-quote-left:before {
  content: '\275d';
}
/* '❝' */
.icon-heart-1:before {
  content: '\2764';
}
/* '❤' */
.icon-heart:before {
  content: '\2765';
}
/* '❥' */
.icon-close:before {
  content: '\2a09';
}
/* '⨉' */
.icon-mlinks-home:before {
  content: '\e081';
}
/* '' */
.icon-edit:before {
  content: '\e80b';
}
/* '' */
.icon-users-1:before {
  content: '👥';
}
/* '\1f465' */
.icon-emo-happy:before {
  content: '😌';
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #2266cc;
}
.table4site {
  display: table-block;
  border: 1px solid #a8a8a8;
  box-sizing: border-box;
}
.table4site TD {
  box-sizing: border-box;
}
.table4site .icon {
  display: table-cell;
  border-right: 1px solid #a8a8a8;
  width: 3.2rem;
}
.table4site .icon IMG {
  width: 3rem;
}
.table4site TD:nth-child(2) {
  border-bottom: 1px solid #a8a8a8;
  display: block;
}
.table4site TD:nth-child(2) P {
  display: table-cell;
  padding: 0.4rem;
}
.table4site .links {
  margin: 2px 0 0;
  display: table;
  width: 100%;
}
.table4site .links P {
  font-size: 1rem;
  line-height: 1rem;
  width: 50%;
  padding: 0.3rem;
  display: table-cell;
  height: 50%;
  text-align: center;
  background: #e9e9e9;
}
.table4site .links P a {
  font-size: 0.9rem;
}
.materials-box {
  display: block;
  padding: 1em 0;
  margin: 0;
}
.box-title {
  margin: 0.5em 0.2em;
  padding: 0.2em 0;
  text-align: center;
  color: #484848;
  border-top: 1px solid #d8d8d8;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(10%, #e6e6e6), color-stop(90%, #e6e6e6), color-stop(100%, #ffffff));
}
.materials-list {
  padding: 0;
  margin: 0 0.2em 0 1em;
  line-height: 1.4;
  /*background: #eee; 
padding: 1em;
border-bottom: 1px #777 solid*/
}
.materials-list li {
  padding: 0.5em 0;
  margin: 0.5em 0;
  font-size: 1rem;
  list-style-type: none;
}
.materials-list a {
  position: relative;
  display: inline;
}
.materials-box .date {
  display: inline;
  font-weight: bold;
  color: #303030;
  text-decoration: none;
  padding: 0 1em;
  font-size: 1.1rem;
}
.materials-box .number {
  color: #ffffff;
  background: #85a3f0;
  line-height: 2;
  width: 2em;
  text-align: center;
  float: left;
  margin-top: -0.3em;
  font-weight: bold;
  border-radius: 2rem;
}
.page-nav.box {
  margin: 0;
  padding: 0;
  text-align: center;
}
.page-nav.box li {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  width: 4em;
  border: 1px solid #a8a8a8;
  padding: 0.8px 0.2em 0 0.2em;
  color: #606060;
  background: #ffffff;
}
.page-nav.box a {
  text-decoration: none;
}
.comment-box h2 {
  margin: 0.5em 0.2em;
  text-align: center;
  padding: 0.2em 0;
  color: #484848;
  border-top: 1px solid #d8d8d8;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(10%, #e6e6e6), color-stop(90%, #e6e6e6), color-stop(100%, #ffffff));
}
#comments {
  font-size: 1rem;
  display: block;
  padding: 0.7em 0;
  position: relative;
  margin: 0.2em 1px 0.2em 0;
  font-weight: normal;
  color: #000000;
  text-align: left;
}
#comments li,
#comments ul {
  list-style-type: none;
  padding: 0;
  margin: 0.8em 0.15em 0.4em 0.15em;
}
.comment-box li {
  border: 1px solid #a8a8a8;
  text-align: left;
  margin: 1em 0 0 0;
  word-wrap: break-word;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 6px #cccccc;
}
#comments li .heading {
  position: relative;
  display: block;
  margin: -1px 0 0 0;
  border-top: 0.2em solid #58c;
  border-bottom: 1px solid #a8a8a8;
  background: #f0f0f0;
  text-shadow: 0 0 0.2em #ffffff;
  padding: 0.2em 0;
}
.nickname {
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5em;
  color: #58c !important;
  line-height: 1.4;
}
.h-meta {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: #484848;
  float: right;
  margin-top: 0;
  margin-right: 0.2em;
  line-height: 1.4;
}
#comments li p {
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0;
  margin: 0 0.2em;
}
#comments a:nth-child(2) {
  position: relative;
  display: block;
  text-align: center;
  top: -0.5em;
}
#comments p ~ div {
  display: block;
  text-align: right;
  border-top: 1px #ccc solid;
  margin: 0.5em 0.5em 0;
}
