HTML{
	font-size: 1em; 
}
body{
	font-size: 100%;
	display:block;
	max-width: 100%;
	background: #202020;
	color: #fff;
	margin:0;
}
a{
color: #79d;
}
.user-profile-list{ /* главный-блок */
	display: block;
	font-size: 1rem;
	line-height: 1.4;
	list-style: none;
	padding: 0.3rem;
	text-align: left;
}
.user-profile-list .margin-block
{
	border-color: transparent;
	height: 0;
	line-height: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	visibility: hidden;
}
.user-profile-list > li{ /* все блоки */
border: 1px #777 solid;
	background: #000;
	display: block;
	margin: 0 0 0.5em;
	padding: 1rem;
	z-index: 7;
}
.user-profile-list > li.no-min-size
{
	min-height: 0;
}
.user-profile-list h3{ /* оглавление малые */
	font-size: 1.2rem;
	border: 1px #555 solid;
	font-weight: normal;
	line-height: 1.4;
	padding: 0.2em 0.4em;
	border-radius: 0.2em;
	margin: 0 -0.3em 1em;
color: #ccc;
background: #111;
}
.user-profile-list .u-note{ /* подпись */
	font-size: 1.1rem;
	margin: 0;
	padding: 0.3em 0;
	position: relative;
}
.user-profile-list .u-note:before{
	color: #aaa;
	content: 'Подпись';
	border-bottom: 1px dashed #555;
	margin-bottom: 1em;
	display: block;
	font-size: 0.8rem;
	line-height: 1.2;
	padding: 0.4em;
	text-align: center;
}
.user-profile-list .heading{ /* оглавления большие - блок */
	border-radius: 0.3em;
	padding: 0.2em 0.5em;
	margin: 0 0.5em 0.5em -0.5em;
	margin-bottom: 0.5rem;
}
.user-profile-list .heading:after{
	clear: both;
	content: "";
	display: block;
}
.user-profile-list .heading h2{ /* оглавления большие - список */
display: block;
text-align: center;
border-bottom: 2px #555 solid;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.4;
	margin: 0 0 1em 0;
	color: #ccc;
}
.user-profile-list .heading .ico{
	color: rgba(0,0,0,0.2);
	float: right;
	font-family: "fontello";
	font-size: 1rem;
	line-height: 1.312rem;
}
.user-profile-list .heading .ico img
{
	float: left;
}
.user-box{ /* первый блок */
}
.user-box .photo{
	padding: 0 0 0.75rem;
}
.user-box .photo img{
	display: block;
	margin: 0 auto;
}
.user-box h1{ /* ник */
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0 0 0.5rem 0;
	text-align: center;
}
.user-box h2{ /* группа */
	font-size: 1rem;
	line-height: 1;
	margin: 0 0 1.5rem;
	text-align: center;
}
.user-box .title{ /* название статуса */
	display: none;
	/*font-size: 0.9rem;
	line-height: 0.8rem;
	margin: 0 0 0.5rem;
	text-align: center;*/
}
.info-list{ /* блоки информации */
	display: block;
	font-size: 1rem;
	list-style: none;
	margin: 0 0 0.75rem;
	padding: 0;
	/* widows: auto; */
	/* width: auto; */
}
.info-list:last-child{ /* инф. статистика и форум */
	margin-bottom: 0;
}
.info-list.black-link a{
color: 79c;
}
.info-list li{
	padding: 0 0 0.25rem;
}
.info-list .title{ /* пункты информациии - названия */
	font-weight: bold;
	margin: 0;
	padding: 0 0.25rem 0 0;
	text-align: left;
}
.info-list .area{	/* пункты информации - содержимое */
display: inline;
font-size: 1rem;
}
.info-list .warn-btn
{
	background: #babdbe;
	color: #fff !important;
	display: inline-block;
	font-size: 1rem;
	height: 0.75rem;
	line-height: 0.812rem;
	text-align: center;
}
.info-list .warn-btn [class^="icon-"],.info-list .warn-btn [class*=" icon-"],.info-list .warn-btn [class^="icon-"]:before,.info-list .warn-btn [class*=" icon-"]:before
{
	margin: 0;
}
.color-green .warnings-nav .btn-down,.color-green .warnings-nav .btn-up
{
	color: #e3ffe7;
}
.contact-social
{
overflow: hidden;
	padding: 0 0 0.75rem;
}
.social-link
{
	font-size: 1rem;
	line-height: 0.875rem;
	list-style: none;
	margin: 0;
	padding: 0;
color: inherit;
}
.social-link li
{
	box-sizing: border-box;
	display: inline-block;
	float: left;
	moz-box-sizing: border-box;
	padding: 0 0 0.375rem 0.75rem;
	position: relative;
	webkit-box-sizing: border-box;
	width: 50%;
}
.social-link li:after
{
	background: #0072bc;
	content: "";
	height: 0.375rem;
	left: 0;
	position: absolute;
	top: 0.25rem;
	width: 0.375rem;
}
.social-link a
{
color: inherit;
}
.attainment-box
{
	padding: 0 0 1.5rem;
}
.attainment-box .attainment-list
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.attainment-box .attainment-list li
{
	padding: 0 0 0.188rem 0.75rem;
	position: relative;
}
.attainment-box .attainment-list li:after
{
	background: #0072bc;
	content: "";
	height: 0.375rem;
	left: 0;
	position: absolute;
	top: 0.25rem;
	width: 0.375rem;
}
.alert-log-list
{
	font-size: 1rem;
	line-height: 1rem;
	list-style: none;
	margin: 0 0 0.75rem;
	padding: 0;
}
.alert-log-list li
{
	border-bottom: 1px dashed #777;
	
	padding: 0.562rem 0.3rem;
	position: relative;
}
.alert-log-list .wlog-note
{
	background: rgba(255,255,0,0.15);
}
.alert-log-list hr
{
	border: 0.062rem solid transparent;
	border-top-color: #ccc;
}
.alert-log-list .a-heading
{
	overflow: hidden;
	padding: 0 0 0.375rem;
}
.alert-log-list .a-heading a
{
	color: inherit;
}
.alert-log-list .a-heading h4,.alert-log-list .a-heading .date
{
	float: left;
	font-size: 1.2rem;
	line-height:1.4;
	margin: 0;
}
.alert-log-list .a-heading .date
{
	float: right;
	font-size: 0.9rem;
	font-style: normal;
}
.alert-log-list .add-title
{
	font-size: 0.9rem;
	line-height: 1.4;
padding: 0.5em 0;
}
.alert-log-list .post-link
{
	font-size: 0.8em;
	text-align: left;
padding: 0.5em 0 0;
}
.statistic-box
{
	/*overflow: hidden;*/
	padding: 0 0 0.75rem;
}
.statistic-box .col
{
margin-bottom: 1.4em;	
}
.a-content{
font-size: 1rem;
line-height: 1.2;
margin-bottom: 0.5em;
}
